{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%block meta%} {%endblock%} {%block css%} {%endblock%}
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/4083775673.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SVH7EMV163"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SVH7EMV163');
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/4083775673.js"></script>

    <script
      data-ad-client="ca-pub-4620359738364721"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm">
      <a class="navbar-brand" href="https://statisticscalculators.net/"
        >Statistics Calculator</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item"><a class="nav-link" href="/statistics/coin-toss-probability-calculator/">Coin Toss Probability Calculator</a></li>
          <li class="nav-item"><a class="nav-link" href="/statistics/third-quartile-calculator/">Third Quartile Calculator</a></li>
          <li class="nav-item"><a class="nav-link" href="/statistics/maximum-calculator/">Maximum Number Calculator</a></li>
          <li class="nav-item"><a class="nav-link" href="/statistics/median-calculator/">Median Calculator</a></li>
              
        </ul>
      </div>
    </nav>
    <div class="scrollmenu fixed-bottom text-center">
      <a href="/statistics/median-calculator/">Median Calculator</a>
              <a href="/statistics/mean-calculator/">Mean Calculator</a>
              <a href="/statistics/mode-calculator/">Mode Calculator</a>
              <a href="/statistics/first-quartile-calculator/">First Quartile Calculator</a>
              <a href="/statistics/relative-standard-deviation-calculator/">Relative Standard Deviation Calculator</a>
              <a href="/statistics/anova-calculator/">Anova Calculator</a>
              <a href="/statistics/covariance-calculator/">Covariance Calculator</a>
              <a href="/statistics/gamma-function-calculator/">Gamma Function Calculator</a>
              <a href="/statistics/coin-toss-probability-calculator/">Coin Toss Probability Calculator</a>
              <a href="/statistics/third-quartile-calculator/">Third Quartile Calculator</a>
              <a href="/statistics/maximum-calculator/">Maximum Number Calculator</a>
              <a href="/statistics/minimum-calculator/">Minimum Number Calculator</a>
              <a href="/statistics/five-number-summary-calculator/">Five Number Summary Calculator</a>
            
    </div>
    {%block content%} {%endblock%}
    <footer class="footer font-small sticky-bottom">
      <div class="container pb-5 pt-2" style="background-color: #009fe8">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-left">Favorite Calculators</h4>
            <ul class="footer-list">
              <li class="footer-list text-left"><a href="https://onlinecalculator.guru/" title="Online Calculator">Online Calculator</a></li>
              <li class="footer-list text-left"><a href="https://onlinecalculator.guru/math-calculator/" title="Maths Calculator">Maths Calculator</a></li>
              <li class="footer-list text-left"><a href="https://physicscalculatorpro.com/" title="Physics Calculator">Physics Calculator</a></li>
              <li class="footer-list text-left"><a href="https://chemistrycalculatorpro.com/" title="Chemistry Calculator">Chemistry Calculator</a></li>
              <li class="footer-list text-left"><a href="https://lcmgcf.com/" title="LCM and GCF Calculator">LCM and GCF Calculator</a></li>
              <li class="footer-list text-left"><a href="https://multiplyfractions.com/" title="Fractions Calculator">Fractions Calculator</a></li>
              <li class="footer-list text-left"><a href="https://factorpolynomials.com/" title="Polynomials Calculator">Polynomials Calculator</a></li>
              <li class="footer-list text-left"><a href="https://percentagecalculator.guru/" title="Percentage Calculator">Percentage Calculator</a></li>
              <li class="footer-list text-left"><a href="https://areavolumecalculator.com/" title="Area and Volume Calculator">Area and Volume Calculator</a></li>
              <li class="footer-list text-left"><a href="https://roundingcalculator.guru/" title="Rounding Calculator">Rounding Calculator</a></li>
              <li class="footer-list text-left"><a href="https://linearequationscalculator.com/" title="Linear Equations Calculator">Linear Equations Calculator</a></li>
              <li class="footer-list text-left"><a href="https://hcflcm.com/" title="HCF and LCM Calculator">HCF and LCM Calculator</a></li>
              <li class="footer-list text-left"><a href="https://sequencecalculators.com/" title="Sequences Calculator">Sequences Calculator</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-left">Most Popular</h4>
            <ul class="footer-list">
              <li class="footer-list text-left"><a href="/statistics/median-calculator/">Median Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/mean-calculator/">Mean Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/mode-calculator/">Mode Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/first-quartile-calculator/">First Quartile Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/relative-standard-deviation-calculator/">Relative Standard Deviation Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/anova-calculator/">Anova Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/covariance-calculator/">Covariance Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/gamma-function-calculator/">Gamma Function Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/coin-toss-probability-calculator/">Coin Toss Probability Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/third-quartile-calculator/">Third Quartile Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/maximum-calculator/">Maximum Number Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/minimum-calculator/">Minimum Number Calculator</a></li>
              <li class="footer-list text-left"><a href="/statistics/five-number-summary-calculator/">Five Number Summary Calculator</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-left">Company</h4>
            <ul class="footer-list">
              <li class="footer-list text-left">
                <a href="/about-us/">About us</a>
              </li>
              <li class="footer-list text-left">
                <a href="/contact-us/">Contact us</a>
              </li>
              <li class="footer-list text-left">
                <a href="/privacy-policy/">Privacy policy</a>
              </li>
              <li class="footer-list text-left">
                <a href="/disclaimer/">Disclaimer</a>
              </li>
            </ul>
            <h4 class="text-left">Follow Us</h4>
            <div class="social-links">
              <li class="footer-list text-left">
                <a
                  class="pr-2"
                  href="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="pr-2" href="https://twitter.com/onlinecalculat"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a
                  class="pr-2"
                  href="https://www.youtube.com/channel/UCFkMv7w89Dqc0XukZUcWsFA/"
                  ><i class="fab fa-youtube"></i
                ></a>
                <a href="https://www.linkedin.com/in/onlinecalculator/"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% comment %} <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script> {% endcomment %}
  </body>
</html>
