{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%block meta%} {%endblock%} {%block css%} {%endblock%}
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/4083775673.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-169198200-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-169198200-4");
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/4083775673.js"></script>

    <script
      data-ad-client="ca-pub-4620359738364721"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm">
      <a class="navbar-brand" href="/web-stories"
        >Web Stories</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <a
              class="nav-link"
              href="/web-stories/fashion/"
              >Fashion</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/web-stories/entertainment/"
              >Entertainment</a
            >
          </li>
          {% comment %} <li class="nav-item">
            <a
              class="nav-link"
              href="/web-stories/lifestyle/"
              >Lifestyle</a
            >
          </li> {% endcomment %}
        </ul>
      </div>
    </nav>
    <!-- <div class="scrollmenu fixed-bottom text-center">
      <a
        title="Math Calculator - Online Calculators to Solve Math Problems Step by Step"
        href="/math-calculator/"
        >Math Calculator</a
      >
      <a
        title="Make use of the Maths Formulas and solve all your maths questions quickly & efficiently. Memorize formulas easily using the Mathematics Formulae Sheet."
        href="/maths-formulas/"
        >Maths Formulas</a
      >
      <a
        title="Physics Calculator | Free Online Tools to Solve Physics Problems Easily"
        href="/physics-calculator/"
        >Physics Calculator</a
      >
      <a
        title="Access Physics Formulas Collection to be familiar with various kinds of concepts. Enhance Subject Knowledge by making the most out of Physics Cheat Sheet."
        href="/physics-formulas/"
        >Physics Formulas</a
      >
      <a
        title="Chemistry Calculator | Online Tool to Solve Chemistry Problems Easily"
        href="/chemistry-calculator/"
        >Chemistry Calculator</a
      >
      <a
        title="Avail Chemistry Formulas to solve related problems efficiently. Use Chemistry Formulae Sheet & Tables to learn the concepts behind them in a better way."
        href="/chemistry-formulas/"
        >Chemistry Formulas</a
      >
    </div> -->
    {%block content%} {%endblock%}
    <footer class="footer font-small sticky-bottom">
      <div class="container pb-5 pt-2" style="background-color: #009fe8">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-left">Favorite Calculators</h4>
            <ul class="footer-list">
              <li class="footer-list text-left">
                <a href="https://physicscalc.com/" title="Physics Calculator"
                  >Physics Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/math-calculator/"
                  title="Math Calculator"
                  >Maths Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a href="https://hcflcm.com/" title="HCFLCM Calculator">HCFLCM Calculator</a>
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://chemistrycalc.com/"
                  title="Chemistry Calculator"
                  >Chemistry Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://multiplyfractions.com/"
                  title="Fraction Calculator"
                  >Fraction Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://factorpolynomials.com/"
                  title="Polynomial Calculator"
                  >Polynomial Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a href="https://lcmgcf.com/" title="LCMGCF Calculator"
                  >LCMGCF Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://percentagecalculator.guru/"
                  title="Percentage Calculator"
                  >Percentage Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://areavolumecalculator.com/"
                  title="Area and Volume Calculator"
                  >Area and Volume Calculator</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-left">Most Popular</h4>
            <!-- <ul class="footer-list">
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/math/age-calculator/"
                  title="Age Calculator"
                  >Age Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/math/diamond-problem-solver/"
                  title="Diamond Problem Solver"
                  >Diamond Problem Solver</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/numbers/even-or-odd-calculator/"
                  title="Odd or Even Calculator"
                  >Odd or Even Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/numbers/divisibility-calculator/"
                  title="Divisibility Calculator"
                  >Divisibility Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/calculus/limit-calculator/"
                  title="Limit Calculator"
                  >Limit Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/calculus/implicit-differentiation-calculator/"
                  title="Implicit Differentiation Calculator"
                  >Implicit Differentiation Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/fractions/reducing-fraction-calculator/"
                  title="Reducing Fractions Calculator"
                  >Reducing Fractions Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/fractions/solve-for-x-fraction-calculator/"
                  title="Solve for X Fraction Calculator"
                  >Solve for X Fraction Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/functions/domain-and-range-calculator/"
                  title="Domain and Range Calculator"
                  >Domain and Range Calculator</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/physics/velocity-calculator-v-u-at/"
                  title="Velocity Calculator v = u + at"
                  >Velocity Calculator v = u + at</a
                >
              </li>
              <li class="footer-list text-left">
                <a
                  href="https://onlinecalculator.guru/weight/"
                  title="Weight Conversions"
                  >Weight Conversions</a
                >
              </li>
            </ul> -->
          </div>
          <div class="col-md-4">
            <h4 class="text-left">Company</h4>
            <ul class="footer-list">
              <li class="footer-list text-left">
                <a href="/about-us/">About us</a>
              </li>
              <li class="footer-list text-left">
                <a href="/contact-us/">Contact us</a>
              </li>
              <li class="footer-list text-left">
                <a href="/privacy-policy/">Privacy policy</a>
              </li>
              <li class="footer-list text-left">
                <a href="/disclaimer/">Disclaimer</a>
              </li>
            </ul>
            <h4 class="text-left">Follow Us</h4>
            <div class="social-links">
              <li class="footer-list text-left">
                <a
                  class="pr-2"
                  href="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="pr-2" href="https://twitter.com/onlinecalculat"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a
                  class="pr-2"
                  href="https://www.youtube.com/channel/UCFkMv7w89Dqc0XukZUcWsFA/"
                  ><i class="fab fa-youtube"></i
                ></a>
                <a href="https://www.linkedin.com/in/onlinecalculator/"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
