{%extends 'base/statistics_base2.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock css%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Accuracy Calculator | Free Calculator to find Accuracy</title>
<meta name="description"
    content="Capacitance Calculator makes it easy for you to determine the value of capacitance, area, and distance with steps." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property="og:description" content="Angular Resolution Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta name="twitter:description"
    content="Angular Resolution Calculator makes it easy for you to determine the theoretical yield value of the chemical reaction in fraction of seconds with steps." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Angular Resolution Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock meta %}

{% block content %}
{% if ot %}
<script>
    $(document).ready(function () {

        $("#hassle").click();
        });
</script>

<button type="button" hidden id="hassle" onclick="location.href='#accuracy'">ans1</button>
{% endif %}


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Accuracy Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'accuracy' %}" method="POST" id="my_form">
                {% csrf_token %}
                 <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Choose Method</span>
            </div>
            <select id="Given" name="Given"  style="margin-top: 5px;width:100%" class="select form-control" id="inlineFormInputGroup" onchange="this.form.submit()">
                {% if Given == 'form1' %}
                <option value="form1" selected="selected">Standard method</option>
                {% else %}
                <option value="form1">Standard method</option>
                {% endif %}

                {% if Given == 'form2' %}
                <option value="form2" selected="selected">Prevalence method</option>
                {% else %}
                <option value="form2">Prevalence method</option>
                {% endif %}

                {% if Given == 'form3' %}
                <option value="form3" selected="selected">Percent error method</option>
                {% else %}
                <option value="form3">Percent error method</option>
                {% endif %}
            </select>
       </div>
       {% if Given == "form1" %}
       
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">True positive</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="tp" name="tp" value="{{tp}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">False negative</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="fn" name="fn" value="{{fn}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">False positive</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="fp" name="fp" value="{{fp}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">True negative</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="tn" name="tn" value="{{tn}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       {% endif %}

       {% if Given == "form2" %}
       
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Prevalence</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="p" name="p" value="{{p}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48">
            <span class="input-group-text" id="basic-addon1">%</span> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">True positive</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="tp" name="tp" value="{{tp}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">False negative</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="fn" name="fn" value="{{fn}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">False positive</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="fp" name="fp" value="{{fp}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">True negative</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="tn" name="tn" value="{{tn}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       {% endif %}

        {% if Given == "form3" %}
       
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Observed value</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="ov" name="ov" value="{{ov}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Accepted value</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="av" name="av" value="{{av}}" min="0" required="" oninput="validateNumber(this);" class="form-control" type="number" required width="48">
       </div>
       
       {% endif %}
       
        <div class=" center col mt-2 ">
            <center><button type="submit" class="btn btn-primary">Calculate</button>
              <a href="{% url 'accuracy' %}" class="btn btn-warning" role="button" style="margin-top:5px;">Reset</a>      
            </center>
          </div>
</div>

</form>
</div>
</div>
{% if ot and Given == "form1" %}
<div class="container" style="height: auto !important;">
<div class="card" id="accuracy">
        <div class="card-header">
            <h2 class="h2">Accuracy Calculator:</h2>
        </div>

        <div class="card-body">
            <strong>Standard method:-</strong>
            <br>
            <p class="btn btn-outline-secondary active text-justify">Accuracy = (TP + TN) / (TP + TN + FP + FN)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>TP - true positive,</li>
                        <li>TN - true negative,</li>
                        <li>FP - false positive</li>
                        <li>FN - false negative.</li>
                                                
                    </ul>
            <strong>Input values:</strong>
            <p>TP = {{tp}}</p>
            <p>TN = {{tn}}</p>
            <p>FP = {{fp}}</p>
            <p>FN = {{fn}}</p>

            <strong>Put values in formula:</strong>
            <p>Accuracy = (({{tp}} + {{tn}}) / ({{tp}} + {{tn}} + {{fp}} + {{fn}})) * 100</p>
            <b>Accuracy = {{result}} %</b>

   </div>
    </div>
</div>
    {% endif %}                  

{% if ot and Given == "form2" %}
<div class="container" style="height: auto !important;">
<div class="card" id="accuracy">
        <div class="card-header">
            <h2 class="h2">Accuracy Calculator:</h2>
        </div>

        <div class="card-body">
            <strong>Prevalence method:-</strong>
            <br>
            <p class="btn btn-outline-secondary active text-justify">Accuracy = ((Sensitivity)* (Prevalence)) + ((Specificity)* (1 - Prevalence))</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>Sensitivity = TP / (TP + FN),</li>
                        <li>Specificity = TN / (FP + TN),</li>
                                                
                    </ul>
            <strong>Input values:</strong>
            <p>TP = {{tp}}</p>
            <p>TN = {{tn}}</p>
            <p>FP = {{fp}}</p>
            <p>FN = {{fn}}</p>
            <p>Prevalence = {{p}}</p>
            
            <strong>Put values in formula:</strong>
            <p>Accuracy = (({{se}}) * ({{p}})) + (({{sp}}) * (1 - {{p}}))</p>
            <b>Accuracy = {{result}} %</b>

   </div>
    </div>
    <img src="{% static 'images/Statistics/accuracy-calculator.jpeg' %}" alt='accuracy-calculator'>
</div>
    {% endif %}      

    {% if ot and Given == "form3" %}
<div class="container" style="height: auto !important;">
<div class="card" id="accuracy">
        <div class="card-header">
            <h2 class="h2">Accuracy Calculator:</h2>
        </div>

        <div class="card-body">
            <strong>Percent error method:-</strong>
            <br>
            <p class="btn btn-outline-secondary active text-justify">Percent error = (|(Vo - Vₐ)|/Vₐ) * 100</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>Vo - observed value,</li>
                        <li>Va - value accepted as truth,</li>
                        <li>|(Vo - Vₐ)| - is the absolute, non-negative value.</li>
                                                
                    </ul>
            <strong>Input values:</strong>
            <p>Vo = {{ov}}</p>
            <p>Va = {{av}}</p>

            <strong>Put values in formula:</strong>
            <p>Percent error = ( |({{ov}} - {{av}})| /{{av}} ) * 100</p>
            <b>Percent error = {{result}} %</b>

   </div>
    </div>
</div>
    {% endif %}                  
{% endblock content %}