{%extends 'base/statistics_base3.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/logo/Online-Calculator-Guru-Fevicon.png' %}" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>DECK OF CARDS Calculator | Finds the Probability</title>
    <meta name="description" content="Coin flip Calculator is a free online tool that calculates the Coin Flip Probability value .">
    <link rel="canonical" href="{{request.build_absolute_uri}}" >
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
    <meta property="og:title" content="Coin Flip Probability | Finds coin flip probability "/>
    <meta property="og:description" content="Coin Flip Probability is a free online tool that calculates the Coin Flip Probability value ."/>
    <meta content="" property="og:site_name" />
    <meta  content="https://onlinecalculator.guru/static/images/Statistics/Median-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
    <meta name="twitter:title" content="Median Calculator | Finds the median value of a set of data: {{inputEnter}}"/>
    <meta name="twitter:description" content="Median Calculator is a free online tool that calculates the median value for the set of numbers {{inputEnter}} instantly and gives result ie., {{finalAnswer}} in no time."/>
    <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Statistics/Median-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Median Calculator | Finds the median value of a set of data: {{inputEnter}}"/>
    <meta property='og:image' content="https://onlinecalculator.guru/static/images/Statistics/Median-Calculator.jpeg"/>
    <meta property='og:description' content="Median Calculator is a free online tool that calculates the median value for the set of numbers {{inputEnter}} instantly and gives result ie., {{finalAnswer}} in no time."/>
    <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
{%endblock%}
{%block content%}
<div class="container" style="height: auto !important;">
    <div class="card c1">
      <div class="card-header">
        <h1 class="h1">Deck of Card Probability </h1>
      </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            <form action="" method="POST" id="my_form" ">
                {% csrf_token %}
                <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>card to be drawn</strong></div>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <label for="cars"><b>Add Group</b></label> -->
                        <select name="dropdown">
                            <option selected="selected" disabled>card to be drawn:</option>
                            <option name='black' value="black">black</option>
                            <option name='club' value="club">club</option>
                            <option name= 'spade' value="spade">spade</option>
                            <option name= 'heart' value="heart">heart</option>
                            <option name= 'diamond' value="diamond">diamond</option>
                            <option name= 'red' value="red">red</option>
                            <option name= 'ace' value="ace">ace</option>
                            <option name= 'facecard' value="facecard">facecard</option>
                            <option name='jack' value="jack">jack</option>
                            <option name='queen' value="Editor">queen</option>
                            <option name='king' value="Editor">king</option>
                           
                        </select>

                        <!-- <input type="number"  oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number of flips" min="0.00001" step="any" class="form-control" name="flips"  value="{{min}}" > -->
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>No. of card to be drawn</strong></div>
                        </div>
                        <input type="number"  oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="No. of card" min="1" step="any" class="form-control" name="cards_drawn"   value="{{max}}"  >
                    </div>
                    <!-- <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Number of classes</strong></div>
                        </div>
                        <input type="number"  oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter no of classes" min="1"  class="form-control" name="classes"    value="{{classes}}" >
                    </div> -->
                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                            class="btn btn-danger">Reset</button>
                        </center>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if id == 1 %}
<div id="clear">
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to calcualate deck of card probability</h2>
        </div>
        <div class="card-body">
            <strong>{{cards_drawn}} card is drawn, the probability that, {{cards_drawn}} card is {{card_name}}</strong>
            <br>
            <p class="btn btn-outline-secondary active"> Total number of ways of drawing {{cards_drawn}} cards from 52 cards </p>
            <br>
            <strong>{{probability}}</strong>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <ul>
                        <li>Cards drawn - Number of cards that can drawn from a deck of 52 cards</li>
                        <li>Card name - Type of chosen card</li>
                        <!-- <li>n - Number of classes within the distribution</li> -->
                    </ul>
            <strong>Input values are:-</strong>
            <br>
            <br>
            <p>Number of Cards drawn = {{cards_drawn}}</p>
            <p>Card name = {{card_name}}</p> 
            <br>
            
            <p>Total number of {{card_name}} cards = {{total_cards}}</p>
           
            <strong>nE = {{nE}}</strong>
            <p>    </p>
            <p>Total number of ways of drawing {{cards_drawn}} cards from 52 cards</p>
            
            <strong>nS = {{nS}}</strong>
            <p> probability = nE / nS </p>
            <!-- <p>  class width = ({{max}} - {{min}}) / {{probability}}  </p> -->
            <p><b> probability = {{probability}} </b></p>
        </div>
    </div>
</div>
{% endif %}
<script>
    
    

    function myFunction() {
        document.getElementsByName("flips")[0].value = "";
        document.getElementsByName("heads")[0].value = "";
       
        

        document.getElementById("clear").innerHTML = "";

    }

</script>   
{%endblock%}