{%extends 'base/statistics_base1.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/logo/Online-Calculator-Guru-Fevicon.png' %}" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>Median Calculator | Finds the median value of a set of data: {{inputEnter}}</title>
    <meta name="description" content="Median Calculator is a free online tool that calculates the median value for the set of numbers {{inputEnter}} instantly and gives result ie., {{finalAnswer}} in no time.">
    <link rel="canonical" href="{{request.build_absolute_uri}}" >
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
    <meta property="og:title" content="Median Calculator | Finds the median value of a set of data: {{inputEnter}}"/>
    <meta property="og:description" content="Median Calculator is a free online tool that calculates the median value for the set of numbers {{inputEnter}} instantly and gives result ie., {{finalAnswer}} in no time."/>
    <meta content="" property="og:site_name" />
    <meta  content="https://onlinecalculator.guru/static/images/Statistics/Median-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
    <meta name="twitter:title" content="Median Calculator | Finds the median value of a set of data: {{inputEnter}}"/>
    <meta name="twitter:description" content="Median Calculator is a free online tool that calculates the median value for the set of numbers {{inputEnter}} instantly and gives result ie., {{finalAnswer}} in no time."/>
    <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Statistics/Median-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Median Calculator | Finds the median value of a set of data: {{inputEnter}}"/>
    <meta property='og:image' content="https://onlinecalculator.guru/static/images/Statistics/Median-Calculator.jpeg"/>
    <meta property='og:description' content="Median Calculator is a free online tool that calculates the median value for the set of numbers {{inputEnter}} instantly and gives result ie., {{finalAnswer}} in no time."/>
    <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "What is the median value for the set of numbers {{inputEnter}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "The median number for the given set {{inputEnter}}."
        }
      },
      {
        "@type": "Question",
        "name": "How to find the median value for the set of numbers {{inputEnter}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "The median is the middle number of a set of data when it has arraigned in ascending order. For the given set of data ie., {{inputEnter}}, the median value is {{finalAnswer}} as you get the detailed solution from our page."
        }
      },
      {
        "@type": "Question",
        "name": "Where do I get a solution for finding the median of numbers {{inputEnter}}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You can find the solution for the median of numbers {{inputEnter}} in detail along with illustrated steps on our page."
        }
      }]
  }
</script>
{%endblock%}
{%block content%}
<div class="container">
    <div class="card c1">
      <div class="card-header">
  <h1 class="h1">Finding Median of {{inputEnter}}</h1>
  </div>
  <div class="card-body">
    <p>Utilize the <a href="{% url 'median' %}">Median Calculator</a> to find the median for a given set of numbers ie., {{inputEnter}}, and view the outcome as {{finalAnswer}} within a fraction of seconds along with a detailed solution.</p>
    <p><b>Ex:</b> 32,45,12,17,43,68,75,8,11,29</p>
    <form action="{% url 'median' %}" method="POST" id="my_form" name="reg_to_scientific" onsubmit="go();">
        {% csrf_token %}
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Median</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><strong>Median of: </strong></div>
              </div>
              <input type="text" class="form-control" name="input1" id="inlineFormInputGroup" placeholder="Enter number" value="{{inputEnter}}">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Calculate</button>
          </div>
        </div>
    </form>
</div></div>
<div class="card">
    <div class="card-header">
<h2 class="h2">Stepwise Solution of Calculating the Median of {{inputEnter}}</h2>
</div>
<div class="card-body">
{% autoescape off %}
{{ detailStep }}
{% endautoescape %}
</div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h3 class="h3">Median of Numbers Examples</h3></div>
      <div class="card-body">
        <ul>
          {% for i,j in example1 %}
          <li><a  href="{{i}}" title="{{j}}">{{j}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h3 class="h3">Mode of Numbers Examples</h3></div>
      <div class="card-body">
        <ul>
          {% for i,j in example2 %}
          <li><a  href="{{i}}" title="{{j}}">{{j}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="h3">Frequently Asked Questions on Median of {{inputEnter}}</h3>
  </div>
  <div class="card-body">
      <p class="question"><strong>1. What is the median value for the set of numbers {{inputEnter}}?</strong></p>
      <p class="answer">The median number for the given set {{inputEnter}}.</p><hr>


        <p class="question"><strong>2. How to find the median value for the set of numbers {{inputEnter}}?</strong></p>
        <p class="answer">The median is the middle number of a set of data when it has arraigned in ascending order. For the given set of data ie., {{inputEnter}}, the median value is {{finalAnswer}} as you get the detailed solution from our page.</p><hr>


        <p class="question"><strong>3. Where do I get a solution for finding the median of numbers {{inputEnter}}?</strong></p>
        <p class="answer">You can find the solution for the median of numbers {{inputEnter}} in detail along with illustrated steps on our page.</p><hr>
  </div>
</div>
</div>
<!-- <div class="card">
  <div class="card-header"><h2>More Examples</h2></div>
  <div class="card-body">
    {%for post1 in post%}
      <li><a href="{% url 'median-detail' post1.slug %}">{{post1.solutionTitle}}</a></li>
      {%endfor%}
  </div>
</div> -->
{%endblock%}