{%extends 'base/statistics_base2.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock css%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Exponential Distribution Calculator | Free Calculator to find Exponential Distribution</title>
<meta name="description"
    content="Capacitance Calculator makes it easy for you to determine the value of capacitance, area, and distance with steps." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property="og:description" content="Angular Resolution Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta name="twitter:description"
    content="Angular Resolution Calculator makes it easy for you to determine the theoretical yield value of the chemical reaction in fraction of seconds with steps." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Angular Resolution Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock meta %}

{% block content %}
{% if ot and a and X %}
<script>
    $(document).ready(function () {

        $("#hassle").click();
        });
</script>

<button type="button" hidden id="hassle" onclick="location.href='#exponential_distribution'">ans1</button>
{% endif %}


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Exponential Distribution Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'exponential_distribution' %}" method="POST" id="my_form">
                {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Rate parameter (a)</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="a" name="a" value="{{a}}" min="0" required="" class="form-control" type="number" step="any" required width="48"> 
       </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Time between events (X)</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="X" name="X" value="{{X}}" min="0" max="{{N}}" required="" class="form-control" type="number" step="any" required width="48"> 
       </div>
              
        <div class=" center col mt-2 ">
            <center><button type="submit" class="btn btn-primary">Calculate</button>
              <a href="{% url 'exponential_distribution' %}" class="btn btn-warning" role="button" style="margin-top:5px;">Reset</a>
            </center>
          </div>
</div>

</form>
</div>
</div>

{% if ot and X and a %}
<div class="container" style="height: auto !important;">
<div class="card" id="exponential_distribution">
        <div class="card-header">
            <h2 class="h2">Steps to Find Exponential Distribution:</h2>
        </div>

        <div class="card-body">

            <strong>Exponential probabilities:-</strong>
            <br>
            <p class="btn btn-outline-secondary active text-justify">P(x > X) = log(-ax)<br>P(x ≤ X) = 1 - log(-ax)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>a is the rate parameter of the distribution. It is the reciprocal of the average number of events in a time interval,</li>
                        <li>P(x > X) is the probability of x being higher than the indicated value X,</li>
                        <li>P(x ≤ X) is the probability of x being lower than the indicated value X,</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>X = {{x}} </p>
            <p>a = {{a}} </p>

            <p><b>Put values into formula</b></p>
            
            <p>P(x > X) = log(-{{a}} * {{X}})</p>
            <b>P(x > X) = {{p1}}</b>


            <p>P(x ≤ X) = 1 - log(-{{a}} * {{X}})</p>
            <b>P(x ≤ X) = {{p2}}</b>
            <br><br>
            <b>Other statistics:</b>
            <p>Mean = {{m}}</p>
            <p>Median = {{me}}</p>
            <p>Variance = {{v}}</p>
            <p>Standard Deviation = {{sd}}</p>


                         
   </div>
    </div>
</div>
    {% endif %}     
    <img src="{% static 'images/Statistics/exponential-distribution-calculator.jpeg' %}" alt='exponential-distribution-calculator'>             
{% endblock content %}