{%extends 'base/statistics_base3.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/logo/Online-Calculator-Guru-Fevicon.png' %}" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>Five Number Summary calculator | How to find Min, Max, Median, Q1, Q3?</title>
    <meta name="description" content="Take help of Five Number Summary Calculator to quickly determine the Minimum, Maximum, First, Second, and Third Quartile Values in seconds.">
    <link rel="canonical" href="{{request.build_absolute_uri}}" >
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
    <meta property="og:title" content="Five Number Summary calculator | How to find Min, Max, Median, Q1, Q3?"/>
    <meta property="og:description" content="Take help of Five Number Summary Calculator to quickly determine the Minimum, Maximum, First, Second, and Third Quartile Values in seconds."/>
    <meta content="" property="og:site_name" />
    <meta  content="https://onlinecalculator.guru/static/images/Statistics/Five-Number-Summary-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
    <meta name="twitter:title" content="Five Number Summary calculator | How to find Min, Max, Median, Q1, Q3?"/>
    <meta name="twitter:description" content="Take help of Five Number Summary Calculator to quickly determine the Minimum, Maximum, First, Second, and Third Quartile Values in seconds."/>
    <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Statistics/Five-Number-Summary-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Five Number Summary calculator | How to find Min, Max, Median, Q1, Q3?"/>
    <meta property='og:image' content="https://onlinecalculator.guru/static/images/Statistics/Five-Number-Summary-Calculator.jpeg"/>
    <meta property='og:description' content="Take help of Five Number Summary Calculator to quickly determine the Minimum, Maximum, First, Second, and Third Quartile Values in seconds."/>
    <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
<script type="application/ld+json">
  <script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1. 
    What is the five summary in math?
    ","acceptedAnswer": {"@type": "Answer","text":" A five-number summary simply involves the minimum value, maximum value, first quartile, second quartile, third quartile."}	}, {"@type": "Question","name":"2. 
    How do you find Q1 and Q3 in Five Number Summary?
    ","acceptedAnswer": {"@type": "Answer","text":" To find Q1 and Q3 in Five Number Summary simply arrange the given set of numbers in ascending order. Then, find the median of lower half to get Q1 or First Quartile and median of upper half to obtain the Upper or Third quartile Q3."}	}, {"@type": "Question","name":"3. 
    What is Q1 in Five Number Summary?
    ","acceptedAnswer": {"@type": "Answer","text":" Q1 in Five Number Summary is nothing but the First Quartile."}	}, {"@type": "Question","name":"4. 
    Is Median a part of Five Number Summary
    ","acceptedAnswer": {"@type": "Answer","text":" Yes, Median is a part of Five Number Summary."}	}]}</script>
{%endblock%}
{%block content%}
<div class="container">
    <div class="card c1">
      <div class="card-header">
  <h1 class="h1">Five Number Summary Calculator</h1>
  </div>
  <div class="card-body">
    <p>Five Number Summary Calculator is extremely helpful in determining the min, max, 1st, 2nd, 3rd quartile values. Simply type in the input data set values separated by commas and tap on the calculate button to find the resultant values in a fraction of seconds.</p>
    <br>
    <p><b>Ex:</b> 32,45,12,17,43,68,75,8,11,29</p>
    <form action="{% url 'five-summary' %}" method="POST" id="my_form" name="reg_to_scientific" onsubmit="go();">
    {% csrf_token %}
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">Five Number Summary</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><strong>Five Number Summary of: </strong></div>
          </div>
          <input type="text" class="form-control" name="input1" id="inlineFormInputGroup" placeholder="Enter number" value="{{inputEnter}}">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Calculate</button>
      </div>
    </div>
    </form>
    {% autoescape off %}
    {{error}}
    {%endautoescape%}
    <br>
    <p><strong>Here are some samples of Five Number Summary calculations.</strong></p>
    <div class="row">
      <div class="col-sm-6">
        <ul>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-7-9-3-4/">Five Number Summary of 7,9,3,4</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-5-9-3-7/">Five Number Summary of 5,9,3,7</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-8-4-3-5/">Five Number Summary of 8,4,3,5</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-9-2-4-7-8/">Five Number Summary of 9,2,4,7,8</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-9-2-7-6-5/">Five Number Summary of 9,2,7,6,5</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-4-5-8-3-6/">Five Number Summary of 4,5,8,3,6</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-7-2-5-9-6-4/">Five Number Summary of 7,2,5,9,6,4</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-3-7-5-2-8-9/">Five Number Summary of 3,7,5,2,8,9</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-4-9-8-2-5-7/">Five Number Summary of 4,9,8,2,5,7</a></li>
          
   
        </ul>                    
      </div>
      <div class="col-sm-6">
        <ul>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-11-88-62-41/">Five Number Summary of 11,88,62,41</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-88-62-26-44/">Five Number Summary of 88,62,26,44</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-84-93-23-80/">Five Number Summary of 84,93,23,80</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-27-17-54-23-16/">Five Number Summary of 27,17,54,23,16</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-53-10-43-42-44/">Five Number Summary of 53,10,43,42,44</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-35-92-52-90-34/">Five Number Summary of 35,92,52,90,34</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-46-42-34-90-65-51/">Five Number Summary of 46,42,34,90,65,51</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-32-17-45-31-48-85/">Five Number Summary of 32,17,45,31,48,85</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-36-19-37-89-86-62/">Five Number Summary of 36,19,37,89,86,62</a></li>
          
        </ul>                 
      </div>
      <div class="col-sm-6">
      <ul>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-50-44-53-40/">Five Number Summary of 50,44,53,40</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-91-25-58-34/">Five Number Summary of 91,25,58,34</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-84-78-50-54/">Five Number Summary of 84,78,50,54</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-71-21-74-53-69/">Five Number Summary of 71,21,74,53,69</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-50-79-20-99-70/">Five Number Summary of 50,79,20,99,70</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-82-98-36-48-57/">Five Number Summary of 82,98,36,48,57</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-78-37-76-75-74-54/">Five Number Summary of 78,37,76,75,74,54</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-89-94-18-40-98-98/">Five Number Summary of 89,94,18,40,98,98</a></li>
          
          <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-40-76-57-36-47-78/">Five Number Summary of 40,76,57,36,47,78</a></li>
             
      </ul>			
      </div>
    </div>
    <p>Related Calculators:</p>
                    <div class="row">
                      <div class="col-sm-5">
                  <ul>
                    <li><a href="/statistics/first-quartile-calculator/">First Quartile Calculator</a></li>
                    <li><a href="/statistics/third-quartile-calculator/">Third Quartile Calculator</a></li>
                    <li><a href="/statistics/mean-calculator/">Mean Calculator</a></li>
                    <li><a href="/statistics/median-calculator/">Median Calculator</a></li>
                    <li><a href="/statistics/mode-calculator/">Mode Calculator</a></li>
                  </ul>
                </div>
                </div>
    <p><strong>Five Number Summary Calculator:</strong> Finding 5 Number Summary for any number set becomes quite easy with the handy tool Five Number Summary Calculator. It is a descriptive statistic that gives information on set of observations. The online 5 Number Summary Calculators makes it easy for you in all your calculations and displays the result in no time. This article gives you insight on details like What is meant by Five Number Summary, How to find the 5 Number Summary, etc. In addition to this, we have mentiond workedout examples on finding the five number summary of a set of numbers explained step by step.</p>
</div></div>
  <div class="card">
    <div class="card-header"><h2 class="h2">What is meant by 5 Number Summary?</h2></div>
      <div class="card-body">
        <p>In general, Five Number Summary is nothing but the visual representation using the boxplot for given set of data. For given values five number summary denotes the maximum value, minimum value, fist quartile, second quartile, third quartile, etc. All these values can be found by arrangig the given data set in ascending order.</p>
        <ul>
          <li>Minimum (Min) - the smallest observation</li>
          <li>Maximum (Max) - the largest observation</li>
          <li>Median (M) - the middle term</li>
          <li>First Quartile (Q1) - the middle term of values below the median</li>
          <li>Third Quartile (Q3) - the middle term of values above the median</li>
        </ul>
      </div>
    </div>
  <div class="card">
    <div class="card-header"><h3 class="h3">How do you calculate the Five Number Summary?</h3></div>
      <div class="card-body">
        <p>In order to compute the five number summary of a data set: i.e. minimum value, maximum value, first, second and third quartiles you need to follow certain steps and they are along the lines</p>
<ul><li>Firstly, Write down the given list of numbers.</li>
<li>Arrange the given numbers in ascending order and then find the minimum and maximum values from the set.</li>
<li>Next step is to find the median i.e. middle term from the list. If the set of numbers is odd then median is middle number. In case of even data set determine the sum of two middle values and then divide by 2 to obtain the median. </li>
<li>Place the values in the paranthesis other than the median.</li>
<li>Calculate the median in the lower half to get the 1st quartile and likewise find out the median in the upper half and it is the third quartile or upper quartile.</li>
<li>Make a note of all the values you have found to make a five number summary.</li></ul>        
        
<img src="{% static 'images/Statistics/five-number-summary-calculator.jpeg' %}" alt='Five Number Summary Calculator'>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h3 class="h3">How to use the Five Number Summary Calculator?</h3></div>
        <div class="card-body">
          <p>The procedure on how to use the 5 Number Summary Calculator is outlined for your reference. They are as follows</p>
          <ul><li>Firstly, enter the given set of numbers in the allotted input sections seperated by commas.</li>
          <li>Now, tap on the calculate button to avail the  5 number summary as result.</li>
        <li>Therefore, the five number summary for the given set is displayed.</li></ul>
        </div></div>
    <div class="card">
      <div class="card-header">
            <h2 class="h2">Five Number Summary Example Calculations</h2>
        </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-7">
            <p><strong>Example 1:</strong> Calculate the five number summary of unarranged data set listed below: 4, 13, 19, 2, 62, 3, 8, 11, 9</p>
            <p><strong>Solution:</strong></p>
            <ul><li>Firstly, write down the given set of numbers i.e. 4, 13, 19, 2, 62, 3, 8, 11, 9 </li>
              <li>Sort the given set of numbers and arrange them in ascending order we have 2, 3, 4, 8, 9, 11, 13, 19, 62</li>
              <li>Now, in the ascending order arrangement find out the minimum value and maximum value. Min = 2, Max = 62</li>
              <li>Let us find the median. As the data set is odd the middle term is the median i.e. 9 </li>
              <li>Leaving aside the median place all other values in parathensis i.e. (2, 3, 4, 8) 9 (11, 13, 19, 62)</li>
              <li>Find the median in the lower half and upper half to get the 1st, 2nd quartile values. Q1 =(3+4)/2 = 3.5, Q3=(13+19)/2 = 16</li>
              <li>Now that you have found all the values of the 5 number set write them i.e. 1st Quartile = 3.5, Median or Second Quartile = 9, Third quartile = 16, Minimum = 2, Maximum = 62</li></ul>
            <ul>
                
                <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-180-191-314-243/">Five Number Summary of 180,191,314,243</a></li>
                
                <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-454-552-554-124/">Five Number Summary of 454,552,554,124</a></li>
                
                <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-884-877-202-431-316/">Five Number Summary of 884,877,202,431,316</a></li>
                
                <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-978-437-340-587-338/">Five Number Summary of 978,437,340,587,338</a></li>
                
                <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-419-212-103-545-652-974/">Five Number Summary of 419,212,103,545,652,974</a></li>
                
                <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-118-343-963-262-432-665/">Five Number Summary of 118,343,963,262,432,665</a></li>
                   
            </ul>			
            </div>
            <div class="col-sm-7">
                <ul>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-6392-4301-7759-4071/">Five Number Summary of 6392,4301,7759,4071</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-4930-9810-6691-3795/">Five Number Summary of 4930,9810,6691,3795</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-8008-3237-8603-1547-7549/">Five Number Summary of 8008,3237,8603,1547,7549</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-5402-7692-6810-9637-1431/">Five Number Summary of 5402,7692,6810,9637,1431</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-1593-1848-8759-8843-2871-3000/">Five Number Summary of 1593,1848,8759,8843,2871,3000</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-5347-4659-9839-9690-9701-7202/">Five Number Summary of 5347,4659,9839,9690,9701,7202</a></li>
                    
                </ul>
            </div>
            <div class="col-sm-7">
                <ul>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-43198-26983-46277-90377/">Five Number Summary of 43198,26983,46277,90377</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-36202-92162-90268-12639/">Five Number Summary of 36202,92162,90268,12639</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-66812-58795-46497-83753-70908/">Five Number Summary of 66812,58795,46497,83753,70908</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-76752-32764-72238-96374-39330/">Five Number Summary of 76752,32764,72238,96374,39330</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-68935-81373-31015-63619-85981-51941/">Five Number Summary of 68935,81373,31015,63619,85981,51941</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-49228-20332-67592-78418-64182-88285/">Five Number Summary of 49228,20332,67592,78418,64182,88285</a></li>
                    
                </ul>
            </div>
            <div class="col-sm-7"> 
                <ul>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-359960-370974-645333/">Five Number Summary of 359960,370974,645333</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-191020-250459-400739/">Five Number Summary of 191020,250459,400739</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-803246-622825-632160-191916/">Five Number Summary of 803246,622825,632160,191916</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-170953-568234-604374-729396/">Five Number Summary of 170953,568234,604374,729396</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-778731-723536-527309-954177-544396/">Five Number Summary of 778731,723536,527309,954177,544396</a></li>
                    
                    <li><a href="https://statisticscalculators.net/statistics/five-number-summary-of-721303-912810-300954-131164-563321/">Five Number Summary of 721303,912810,300954,131164,563321</a></li>
                    
                </ul>
            </div>
        </div>
        </div>
    </div>
  <div class="card">
      <div class="card-header">
          <h3 class="h3">FAQs on Five Number Summary Calculator</h3>
      </div>
      <div class="card-body">
          <!-- Question & Answer Starts --->
          <p class="question"><strong>1. What is the five summary in math?</strong></p>
          <p class="answer">A five-number summary simply involves the minimum value, maximum value, first quartile, second quartile, third quartile.</p><hr>
          <p class="question"><strong>2. How do you find Q1 and Q3 in Five Number Summary?</strong></p>
          <p class="answer">To find Q1 and Q3 in Five Number Summary simply arrange the given set of numbers in ascending order. Then, find the median of lower half to get Q1 or First Quartile and median of upper half to obtain the Upper or Third quartile Q3. </p><hr>
          <p class="question"><strong>3. What is Q1 in Five Number Summary?</strong></p>
          <p class="answer">Q1 in Five Number Summary is nothing but the First Quartile.</p><hr>
          <p class="question"><strong>4. Is Median a part of Five Number Summary</strong>></p>
          <p class="answer">Yes, Median is a part of Five Number Summary.</p>
      </div>
    </div>
</div>
{%endblock%}