<!doctype html>
<html lang="en">
  <head>
    
    <!-- HTML Defaults Broweser -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Stylesheet and Jquery, Google APIS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Online Calculator Guru Site Fevicon -->
    <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
    <!-- Online Calculator Guru Project Style Sheet -->
    
    <link rel="stylesheet" href="/static/style.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Meta Title, Description and Canonical URL Starts --->
    <title>Online Triginometry Calculator | How to get Trigonometry Calculated on an Right Angled Triangle?</title>
    <meta name="description" content="trigonometry calculator will help you in two popular cases when trigonometry is needed. If you want to find the values of sine, cosine, tangent and their reciprocal functions, use the first part of the calculator. "/>
    <link rel="canonical" href="https://onlinecalculator.guru/physics/acceleration-calculator/">
    <!-- Meta Title, Description and Canonical URL ENDS --->
 
    <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
        <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
        <meta property="og:title" content="Online Normal Force Calculator | How to get Normal Force on an Object?"/>
        <meta property="og:description" content="The normal force calculator helps you find the force that a surface exerts to prevent an object from falling through it. In the following text, we will provide you with some normal force formulas, and an answer to the simple question: what is normal force? In doing so, we will also mention Newton's third law of motion. Scroll down to find out how to calculate normal force."/>
        <meta content="" property="og:site_name" />
        <meta  content="https://onlinecalculator.guru/static/images/Physics/acceleration-calculator.jpeg" property="og:image" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="435" />
        <meta property="og:image:width" content="354" />
        <!--  FACEBOOK CONFIGURATION ENDS  -->
        <!-- TWITTER CARD CONFIGURATION STARTS  -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
        <meta name="twitter:title" content="Online Normal Force Calculator | How to get Normal Force on an Object?"/>
        <meta name="twitter:description" content="The normal force calculator helps you find the force that a surface exerts to prevent an object from falling through it. In the following text, we will provide you with some normal force formulas, and an answer to the simple question: what is normal force? In doing so, we will also mention Newton's third law of motion. Scroll down to find out how to calculate normal force."/>
        <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Physics/acceleration-calculator.jpeg"/>
        <meta property="twitter:image:height" content="435"/>
        <meta property="twitter:image:width" content="354"/>
        <!-- TWITTER CARD CONFIGURATION ENDS  -->
        <!--  LINKEDIN CONFIGURATION STARTS-->
        <meta property='og:title' content="Online Acceleration Calculator | How to get Acceleration of an Object?"/>
        <meta property='og:image' content="https://onlinecalculator.guru/static/images/Physics/acceleration-calculator.jpeg"/>
        <meta property='og:description' content="The normal force calculator helps you find the force that a surface exerts to prevent an object from falling through it. In the following text, we will provide you with some normal force formulas, and an answer to the simple question: what is normal force? In doing so, we will also mention Newton's third law of motion. Scroll down to find out how to calculate normal force."/>
        <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
        <!-- end of linkedin CONFIGURATIONS ENDS -->
    <!-- OPEN GRAPH CONFIGURATION ENDS -->
    <!-- FAQ SCHEMA STARTS -->
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1.
        What is trigonometry?
        ","acceptedAnswer": {"@type": "Answer","text":" Trigonometry is a branch of mathematics. The word itself comes from the Greek trigōnon (which means "triangle") and metron ("measure"). As the name suggests, trigonometry deals mostly with angles and triangles; in particular, it's defining and using the relationships and ratios between angles and sides in triangles. The primary application is thus solving triangles, specifically right triangles, but also any other type of triangle you like."}	}, {"@type": "Question","name":"2.
        What are Applications of Triogonometry?
        ","acceptedAnswer": {"@type": "Answer","text":" Trigonometry has plenty of applications: from everyday life problems such as calculating the height or distance between objects to the satellite navigation system, astronomy, and geography. Also, sine and cosine functions are fundamental for describing periodic phenomena - thanks to them, we can describe oscillatory movements (as simple pendulum) and waves like sound, vibration or light."}	}, {"@type": "Question","name":"3.
        Trig calculator finding sin, cos, tan, cot, sec, csc
        ","acceptedAnswer": {"@type": "Answer","text":" To find the trigonometric functions of an angle, enter the chosen angle in degrees or radians. Underneath the calculator, six most popular trig functions will appear - three basic ones: sine, cosine and tangent, and their reciprocals: cosecant, secant and cotangent. Additionally, if the angle is acute, the right triangle will be displayed, which can help you in understanding how the functions may be interpreted."}}
        ]}</script>
    
    
    <link rel="stylesheet" href="/static/style.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/4083775673.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169198200-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169198200-4');
</script>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/4083775673.js"></script>

<script data-ad-client="ca-pub-4620359738364721" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  </script>    
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-sm">
        <a class="navbar-brand" href="https://onlinecalculator.guru/">OnlineCalculator.Guru</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/math-calculator/">Math</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/physics-calculator/">Physics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/chemistry-calculator/">Chemistry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/conversions-calculator/">Conversions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://onlinecalculator.guru/statistics-calculator/">Statistics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://onlinecalculator.guru/algebra-calculator/">Algebra</a>
              </li>
          </ul>
        </div>
      </nav>
  <div class="scrollmenu fixed-bottom text-center">
<a href="https://onlinecalculator.guru/physics-formulas/">Physics Formulas</a>
                <a href="/physics/accleration-calculator/">Accleration Calculator</a>
                <a href="/physics/accleration-due-to-gravity-calculator/">Accleration due to Gravity Calculator</a>
                <a href="/physics/density-calculator/">Density Calculator</a>
                <a href="/physics/friction-calculator/">Friction Calculator</a>
                <a href="/physics/gravity-calculator/">Gravity Calculator</a>
                <a href="/physics/specific-gravity-calculator/">Specific Gravity Calculator</a>
                <a href="/physics/gravitational-potential-energy-calculator/">Gravitational Potential Energy Calculator</a>
                <a href="/physics/kinetic-energy-calculator/">Kinetic Energy Calculator</a>
                <a href="/physics/momentum-calculator/">Momentum Calculator</a>
                 <a href="/physics/force-calculator/">Force Calculator</a>
                <a href="/physics/displacement-calculator-s-vt/">Displacement Calculator S=VT</a>
  <a href="/physics/torque-calculator/">Torque Calculator</a>
                <a href="/physics/velocity-calculator/">Velocity Calculator</a>
                <a href="/physics/water-pressure-calculator/">Water Pressure Calculator</a>
                <a href="/physics/wavelength-calculator/">Wavelength Calculator</a>
                <a href="/physics/youngs-modulus-calculator/">Youngs Modulus Calculator</a>
                <a href="/physics/uniformly-accelerated-motion-calculator/">Uniformly Accelerated Motion Calculator</a>
                <a href="/physics/velocity-calculator-vuas/">Velocity Calculator (v = √(u² + 2as))</a>
                <a href="/physics/velocity-calculator-v-u-at/">Velocity Calculator v = u + at</a>
                <a href="/physics/average-velocity-calculator/">Average Velocity Calculator</a>
                <a href="/physics/displacement-calculator/">Displacement Calculator</a>
                <a href="/physics/impact-force-calculator/">Impact Force Calculator</a>


  </div>
    

<style>
@media only screen and (min-width: 1000px) {
 .input-group{
    margin-left:100px;
   };
  };
</style>

    <div class="container">
        <div class="card c1">
            <div class="card-header">
                <h1 class="h1">Trigonometry Calculator</h1>
            </div>
            <div class="card-body">
                <p>Trigonometry is the study of the relationships within a triangle. For right angled triangles, the ratio between any two sides is always the same, and are given as the trigonometry ratios, cos, sin, and tan. Trigonometry can also help find some missing triangular information, e.g., the sine rule.</p>
                <p>Trigonometry can be hard at first, but after some practise you will master it! Here are some trigonometry tips: label the hypotenuse, adjacent and opposite on your triangle to help you figure out what identity to use, and remember the mnemonic SOHCAHTOA for the trigonometric relationships!</p>
          <form action="{% url 'trigcalc' %}" method="POST" id='my_form'>{% csrf_token %}
                      
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Angle</span>
                </div>
              
                <input style="margin-top: 5px;" id="Angle" value="{{Angle}}" oninput="validateNumber(this);" name="Angle" required="" class="form-control" type="text" required width="48"  >
              
              </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Given</span>
                        </div>
                      
                        <select id='Given' name='Given' oninput="myFunction()" required style="margin-top: 5px;" class="select form-control" id="inlineFormInputGroup" onchange="this.form.submit()" value={{Given}}>
                          {% if Given == 'Select'%}
                          <option value='Select' selected>Select</option>  
                          {% else %}
                          <option value='Select' >Select</option>  
                          {% endif %}
                          {% if Given == 'Two_sides'%}
                          <option value='Two_sides' selected>Two sides</option>  
                          {% else %}
                          <option value='Two_sides' >Two sides</option>  
                          {% endif %}
                          {% if Given == 'One_Angle_One_Side'%}
                          <option value ='One_Angle_One_Side' selected>One Angle One Side</option>
                          {% else %}
                          <option value ='One_Angle_One_Side' >One Angle One Side</option>
                          {% endif %}
                          {% if Given == 'Area_and_One_Side'%}
                          <option value='Area_and_One_Side'selected>Area and One Side</option>
                          {% else %}
                          <option value='Area_and_One_Side'>Area and One Side</option>
                          {% endif %}
                            
                          </select>                     
                      </div>
                      {% if Given == 'Area_and_One_Side' %}
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Area</span>
                        </div>
                      
                        <input style="margin-top: 5px;" id="Area" value="{{Area}}" oninput="validateNumber(this);" name="Area" required="" class="form-control" type="text" required width="48"  >
                      
                      </div>
                      {% endif %}
                      {% if Given == 'Two_sides' or Given == 'One_Angle_One_Side' or Given == 'Area_and_One_Side' %}
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Side A</span>
                        </div>
                      
                        <input style="margin-top: 5px;" id="Side_A" value="{{Side_A}}" oninput="validateNumber(this);" name="Side_A" required="" class="form-control" type="text" required width="48"  >
                      
                      </div>
                      {% endif %}
                      
                      
                      {% if Given == 'Two_sides' %}
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Side B</span>
                        </div>
                      
                        <input style="margin-top: 5px;" id="Side_A" value="{{Side_B}}" oninput="validateNumber(this);" name="Side_B" required="" class="form-control" type="text" required width="48"  >
                      
                      </div>
                      
                      {% endif %}
                      
                      {% if Given == 'One_Angle_One_Side' %}
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Angle A</span>
                        </div>
                      
                        <input style="margin-top: 5px;" id="Angle_A" value="{{Angle_A}}" oninput="validateNumber(this);" name="Angle_A" required="" class="form-control" type="text" required width="48"  >
                        <select class="select form-control" id="inlineFormInputGroup" name="angle_op" >
                          {% if angle_op == 'd' %}
                              <option value="d" selected="selected">deg</option>
                          {% else %}
                              <option value="d">deg</option>
                          {% endif %}
                      
                          {% if angle_op == 'r' %}
                              <option value="r" selected="selected">rad</option>
                          {% else %}
                              <option value="r">rad</option>
                          {% endif %}
                      
                          {% if angle_op == 'gon' %}
                              <option value="gon" selected="selected">gon</option>
                          {% else %}
                              <option value="gon">gon</option>
                          {% endif %}
                      
                          {% if angle_op == 'pi' %}
                              <option value="pi" selected="selected">*π rad</option>
                          {% else %}
                              <option value="pi">*π rad</option>
                          {% endif %}
                      
                      </select>
                      
                      </div>
                      {% endif %}
                      
                      
                                           
                      <center>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;	<input class="btn btn-secondary btn-mr-3" type="button" onclick="myFunction()" value="Clear" ></td>
                        <td></td>	
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><button type="submit" class="btn btn-primary mb-2">Calculate</button>  </td>
                      </center>
                      
                      
                      <div id="answer1">

                        {% if Given == 'Two_sides' and Side_A and Side_B %}
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Side C</span>
                          </div>
                          <input style="margin-top: 5px;" id="Side_C" readonly value="{{Side_C}}" oninput="validateNumber(this);" name="Side_C" required="" class="form-control" type="text" required width="48"  >

                        </div>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Angle A</span>
                          </div>
                        
                          <input style="margin-top: 5px;" id="Angle_A" readonly value="{{Angle_A}}" oninput="validateNumber(this);" name="Angle_A" required="" class="form-control" type="text" required width="48"  >
                          <select class="select form-control" id="inlineFormInputGroup" name="angle_op" >
                            {% if angle_op == 'd' %}
                                <option value="d" selected="selected">deg</option>
                            {% else %}
                                <option value="d">deg</option>
                            {% endif %}
                        
                            {% if angle_op == 'r' %}
                                <option value="r" selected="selected">rad</option>
                            {% else %}
                                <option value="r">rad</option>
                            {% endif %}
                        
                            {% if angle_op == 'gon' %}
                                <option value="gon" selected="selected">gon</option>
                            {% else %}
                                <option value="gon">gon</option>
                            {% endif %}
                        
                            {% if angle_op == 'pi' %}
                                <option value="pi" selected="selected">*π rad</option>
                            {% else %}
                                <option value="pi">*π rad</option>
                            {% endif %}
                        
                        </select>
                        
                        </div>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Angle B</span>
                          </div>
                        
                          <input style="margin-top: 5px;" id="Angle_B" readonly value="{{Angle_B}}" oninput="validateNumber(this);" name="Angle_B" required="" class="form-control" type="text" required width="48"  >
                          <select class="select form-control" id="inlineFormInputGroup" name="angle_op" >
                            {% if angle_op == 'd' %}
                                <option value="d" selected="selected">deg</option>
                            {% else %}
                                <option value="d">deg</option>
                            {% endif %}
                        
                            {% if angle_op == 'r' %}
                                <option value="r" selected="selected">rad</option>
                            {% else %}
                                <option value="r">rad</option>
                            {% endif %}
                        
                            {% if angle_op == 'gon' %}
                                <option value="gon" selected="selected">gon</option>
                            {% else %}
                                <option value="gon">gon</option>
                            {% endif %}
                        
                            {% if angle_op == 'pi' %}
                                <option value="pi" selected="selected">*π rad</option>
                            {% else %}
                                <option value="pi">*π rad</option>
                            {% endif %}
                        
                        </select>
                        </div>
                        {% endif %}

                        {% if Given == 'One_Angle_One_Side' and Angle_A and Side_A %}
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Side B</span>
                          </div>
                        
                          <input style="margin-top: 5px;" id="Side_B" readonly value="{{Side_B}}" oninput="validateNumber(this);" name="Side_B" required="" class="form-control" type="text" required width="48"  >
                        
                        </div>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Side C</span>
                          </div>
                        
                          <input style="margin-top: 5px;" readonly id="Side_C" value="{{Side_C}}" oninput="validateNumber(this);" name="Side_C" required="" class="form-control" type="text" required width="48"  >
                        
                        </div>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Angle B</span>
                          </div>
                        
                          <input style="margin-top: 5px;" readonly id="Angle_B" value="{{Angle_B}}" oninput="validateNumber(this);" name="Angle_B" required="" class="form-control" type="text" required width="48"  >
                          <select class="select form-control" id="inlineFormInputGroup" name="angle_op" >
                            {% if angle_op == 'd' %}
                                <option value="d" selected="selected">deg</option>
                            {% else %}
                                <option value="d">deg</option>
                            {% endif %}
                        
                            {% if angle_op == 'r' %}
                                <option value="r" selected="selected">rad</option>
                            {% else %}
                                <option value="r">rad</option>
                            {% endif %}
                        
                            {% if angle_op == 'gon' %}
                                <option value="gon" selected="selected">gon</option>
                            {% else %}
                                <option value="gon">gon</option>
                            {% endif %}
                        
                            {% if angle_op == 'pi' %}
                                <option value="pi" selected="selected">*π rad</option>
                            {% else %}
                                <option value="pi">*π rad</option>
                            {% endif %}
                        
                        </select>
                        
                        </div>
                        {% endif %}
                        {% if Given == 'Area_and_One_Side' and Area and Side_A %}
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Side B</span>
                          </div>
                        
                          <input style="margin-top: 5px;" id="Side_B" readonly value="{{Side_B}}" oninput="validateNumber(this);" name="Side_B" required="" class="form-control" type="text" required width="48"  >
                        
                        </div>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Side C</span>
                          </div>
                        
                          <input style="margin-top: 5px;" readonly id="Side_C" value="{{Side_C}}" oninput="validateNumber(this);" name="Side_C" required="" class="form-control" type="text" required width="48"  >
                        
                        </div>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Angle A</span>
                          </div>
                        
                          <input style="margin-top: 5px;" id="Angle_A" readonly value="{{Angle_A}}" oninput="validateNumber(this);" name="Angle_A" required="" class="form-control" type="text" required width="48"  >
                          <select class="select form-control" id="inlineFormInputGroup" name="angle_op" >
                            {% if angle_op == 'd' %}
                                <option value="d" selected="selected">deg</option>
                            {% else %}
                                <option value="d">deg</option>
                            {% endif %}
                        
                            {% if angle_op == 'r' %}
                                <option value="r" selected="selected">rad</option>
                            {% else %}
                                <option value="r">rad</option>
                            {% endif %}
                        
                            {% if angle_op == 'gon' %}
                                <option value="gon" selected="selected">gon</option>
                            {% else %}
                                <option value="gon">gon</option>
                            {% endif %}
                        
                            {% if angle_op == 'pi' %}
                                <option value="pi" selected="selected">*π rad</option>
                            {% else %}
                                <option value="pi">*π rad</option>
                            {% endif %}
                        
                        </select>
                        
                        </div>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Angle B</span>
                          </div>
                        
                          <input style="margin-top: 5px;" id="Angle_B" readonly value="{{Angle_B}}" oninput="validateNumber(this);" name="Angle_B" required="" class="form-control" type="text" required width="48"  >
                          <select class="select form-control" id="inlineFormInputGroup" name="angle_op" >
                            {% if angle_op == 'd' %}
                                <option value="d" selected="selected">deg</option>
                            {% else %}
                                <option value="d">deg</option>
                            {% endif %}
                        
                            {% if angle_op == 'r' %}
                                <option value="r" selected="selected">rad</option>
                            {% else %}
                                <option value="r">rad</option>
                            {% endif %}
                        
                            {% if angle_op == 'gon' %}
                                <option value="gon" selected="selected">gon</option>
                            {% else %}
                                <option value="gon">gon</option>
                            {% endif %}
                        
                            {% if angle_op == 'pi' %}
                                <option value="pi" selected="selected">*π rad</option>
                            {% else %}
                                <option value="pi">*π rad</option>
                            {% endif %}
                        
                        </select>
                        
                        </div>


                        {% endif %} 
                        {% if Angle  %}
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Sine(Angle)</span>
                            </div>
                          
                            <input style="margin-top: 5px;" readonly id="sine" value="{{sine}}" oninput="validateNumber(this);" name="sine" required="" class="form-control" type="text" required width="48"  >
                          
                          </div>
                          
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Cot(Angle)</span>
                            </div>
                          
                            <input style="margin-top: 5px;" readonly id="cot" value="{{cot}}" oninput="validateNumber(this);" name="cot" required="" class="form-control" type="text" required width="48"  >
                          
                          </div>
                          
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Cosec(Angle)</span>
                            </div>
                          
                            <input style="margin-top: 5px;" readonly id="cosec" value="{{cosec}}" oninput="validateNumber(this);" name="cosec" required="" class="form-control" type="text" required width="48"  >
                          
                          </div>

                        {% endif %}
                  </div>
                  
                  <script>
                      function myFunction() {
                        document.getElementsByName("Side_A")[0].value="";
                        document.getElementsByName("Side_B")[0].value="";
                        document.getElementsByName("Side_C")[0].value="";
                        document.getElementsByName("Angle_B")[0].value="";
                        document.getElementsByName("Angle_A")[0].value="";
                        document.getElementsByName("Area")[0].value="";
                        document.getElementsByName("sine")[0].value="";
                        
                        document.getElementsByName("cot")[0].value="";
                        
                        document.getElementsByName("cosec")[0].value="";
                        $("#answer1").html("");
                        document.getElementsById("clear").innerHTML = "";
                      }
                  </script>
                    <script>
                        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
                        var fist_input = document.getElementById("inlineFormInputGroup").value;
                        function validateNumber(elem) {
                        console.log(elem)
                          if (validNumber.test(elem.value)) {
                            fist_input = elem.value;
                          } else {
                            elem.value = fist_input;
                          }
                        }
                    </script>
                  
                      
                  </form>  
            
                   </div>    
        
            
        
                <br>
                <p><strong>Trigonometry Calculator: </strong>Trigonometry is used to find information about all triangles, and right angled triangles in particular. Since triangles are everywhere in nature, trigonometry is used outside of math, in fields such as construction, physics, chemistry engineering and astronomy.</p>
            </div>
        </div>
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">What is Triogonometry?</h2>
        </div>
	    <div class="card-body">
            <p>This trigonometry calculator will help you in two popular cases when trigonometry is needed. If you want to find the values of sine, cosine, tangent and their reciprocal functions, use the first part of the calculator. Searching for the missing side or angle in a right triangle, using trigonometry? Our tool is also a safe bet! Type 2-3 given values in the second part of the calculator and in a blink of an eye you'll find the answer. Scroll down if you want to read more about what is trigonometry and where you can apply it.</p>
            <ul>
            <li>There are many other tools useful when dealing with trigonometry problems. Check out two popular trigonometric laws: law of sines and law of cosines calculators, helping to solve any kind of a triangle. If you want to read more about the trigonometric functions, go to our dedicated tools:</li>
            <li>     To find the missing sides or angles of the right triangle, all you need to do is enter the known variables into the trigonometry calculator. You need only two given values in the case of:</li>
            <ul >
            <li>     <b>one side and one angle       </b>     </li>
            <li>    <b> Two sides </b></li>
            <li>    <b> Area and One Side </b></li> 
        </ul> 
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
        <h3 class="h3">How to do trigonometry?</h3>
        </div>
        <div class="card-body">
            <p><b>1.</b>Find which two out of hypotenuse, adjacent, opposite and angle you have.</p>

<p><b>2.</b>Work out which of the remaining options you are trying to calculate.</p>
<p><b>3.</b>Choose which relationship you need (remember, SOHCAHTOA).</p>

            
            <p>    <b>4.</b>Fill in the data you have into the equation.</p>
            <p>    <b>5.</b>Rearrange and solve for the unknown.</p>
            <p>     <b>6.</b>Check your answers with OnlineCalculator.guru Calculator.    </p>            
            
                <p><a href="https://onlinecalculator.guru/">Onlinecalculator.guru</a> has got concepts like friction, acceleration due to gravity, water pressure, gravity, and many more along with their relevant calculators all one under one roof.</p>
        </div>
    </div>
    <div class="card">
  	    <div class="card-header">
      	<h3 class="h3">Frequently Asked Questions on Trigonometry Calculator</h3>
  	    </div>
  	    <div class="card-body">
      	<!-- Question & Answer Starts --->
        <p class="question"><strong>1. What is trigonometry?</strong></p>
     	<p class="answer">Trigonometry is the study of the relationships within a triangle. For right angled triangles, the ratio between any two sides is always the same, and are given as the trigonometry ratios, cos, sin, and tan. Trigonometry can also help find some missing triangular information, e.g., the sine rule.</p><hr>
     	<p class="question"><strong>2. Is trigonometry hard?</strong></p>
     	<p class="answer">Trigonometry can be hard at first, but after some practise you will master it! Here are some trigonometry tips: label the hypotenuse, adjacent and opposite on your triangle to help you figure out what identity to use, and remember the mnemonic SOHCAHTOA for the trigonometric relationships!</p><hr>  
        <p class="question"><strong>3. What is trigonometry used for?</strong></p>
     	<p class="answer">Trigonometry is used to find information about all triangles, and right angled triangles in particular. Since triangles are everywhere in nature, trigonometry is used outside of math, in fields such as construction, physics, chemistry engineering and astronomy.     </p><hr>
            <img src="/static/images/Physics/acceleration-calculator.jpeg" alt="Acceleration Calculator">
    	</div>
    </div>
    </div>
<script>
    //oninput="validateNumber(this);"

    var validNumber = new RegExp(/^\d*\.?-?\d*$/);
    var fist_input = document.getElementById("inlineFormInputGroup").value;
    function validateNumber(elem) {
    console.log(elem)
      if (validNumber.test(elem.value)) {
        fist_input = elem.value;
      } else {
        elem.value = fist_input;
      }
    }
</script>

    <footer class="footer font-small sticky-bottom">
      <div class="container pb-5 pt-2" style="background-color: #009FE8;">
      <div class="row">
        <div class="col-md-4">
          <h4 class=" text-left">Favorite Calculators</h4>
          <ul class="footer-list" >
            <li class="footer-list text-left"><a href="https://physicscalc.com/" title="Physics Calculator">Physics Calculator</a></li>
            <li class="footer-list text-left"><a href="https://onlinecalculator.guru/math-calculator/" title="Math Calculator">Maths Calculator</a></li>
            <li class="footer-list text-left"><a href="" title="HCFLCM Calculator">HCFLCM Calculator</a></li>
            <li class="footer-list text-left"><a href="https://onlinecalculator.guru/" title="Chemistry Calculator">Chemistry Calculator</a></li>
            <li class="footer-list text-left"><a href="https://multiplyfractions.com/" title="Fraction Calculator">Fraction Calculator</a></li>
            <li class="footer-list text-left"><a href="https://factorpolynomials.com/" title="Polynomial Calculator">Polynomial Calculator</a></li>
            <li class="footer-list text-left"><a href="https://lcmgcf.com/" title="LCMGCF Calculator">LCMGCF Calculator</a></li>
            <li class="footer-list text-left"><a href="https://percentagecalculator.guru/" title="Percentage Calculator">Percentage Calculator</a></li>
            <li class="footer-list text-left"><a href="https://areavolumecalculator.com/" title="Area and Volume Calculator">Area and Volume Calculator</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class=" text-left">Most Popular</h4>
          <ul class="footer-list">
            <li class="footer-list text-left"><a href="https://onlinecalculator.guru/math/age-calculator/" title="Age Calculator">Age Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/math/diamond-problem-solver/" title="Diamond Problem Solver">Diamond Problem Solver</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/numbers/even-or-odd-calculator/" title="Odd or Even Calculator">Odd or Even Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/numbers/divisibility-calculator/" title="Divisibility Calculator">Divisibility Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/calculus/limit-calculator/" title="Limit Calculator">Limit Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/calculus/implicit-differentiation-calculator/" title="Implicit Differentiation Calculator">Implicit Differentiation Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/fractions/reducing-fraction-calculator/" title="Reducing Fractions Calculator">Reducing Fractions Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/fractions/solve-for-x-fraction-calculator/" title="Solve for X Fraction Calculator">Solve for X Fraction Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/functions/domain-and-range-calculator/" title="Domain and Range Calculator">Domain and Range Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/physics/velocity-calculator-v-u-at/" title="Velocity Calculator v = u + at">Velocity Calculator v = u + at</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/weight/" title="Weight Conversions">Weight Conversions</a></li>
          </ul>
        </div>
     <div class="col-md-4">
       <h4 class="text-left">Company</h4>
       <ul class="footer-list">
         <li class="footer-list text-left"><a href="/about-us/">About us</a></li>
         <li class="footer-list text-left"><a href="/contact-us/">Contact us</a></li>
         <li class="footer-list text-left"><a href="/privacy-policy/">Privacy policy</a></li>
         <li class="footer-list text-left"><a href="/disclaimer/">Disclaimer</a></li>
       </ul>
       <h4 class=" text-left">Follow Us</h4>
       <div class="social-links">
         <li class="footer-list text-left">
          <a class="pr-2" href="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/"><i class="fab fa-facebook-f"></i></a>
          <a class="pr-2" href="https://twitter.com/onlinecalculat"><i class="fab fa-twitter"></i></a>
          <a class="pr-2" href="https://www.youtube.com/channel/UCFkMv7w89Dqc0XukZUcWsFA/"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/in/onlinecalculator/"><i class="fab fa-linkedin-in"></i></a></li>
       </div>
     </div>
      </div>
    </div>
    </footer>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>