

<!doctype html>
<html lang="en">
  <head>
    
    <!-- HTML Defaults Broweser -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Stylesheet and Jquery, Google APIS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Online Calculator Guru Site Fevicon -->
    <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
    <!-- Online Calculator Guru Project Style Sheet -->
    
    <link rel="stylesheet" href="https://onlinecalculator.guru/static/style2.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Meta Title, Description and Canonical URL Starts --->
    <title>Poisson Distribution Calculator | Handy Online Calculator Tool</title>
    <meta name="description" content="Poisson Distribution Calculator computes the poisson distribution of numbers and generates the exact answer quickly. Use this calculator to find the Poisson distribution easily."/>
    <link rel="canonical" href="https://onlinecalculator.guru/statistics/poisson distribution-calculator/">
    <!-- Meta Title, Description and Canonical URL ENDS --->
 
    <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
        <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
        <meta property="og:title" content="Poisson distribution Calculator | Handy Online Calculator Tool"/>
        <meta property="og:description" content="Poisson distribution Calculator computes the poisson distribution of numbers and generates the exact answer quickly. Use this calculator to find the poisson distribution easily."/>
        <meta content="" property="og:site_name" />
        <meta  content="https://onlinecalculator.guru/static/images/Statistics/Poisson-Distribution-Calculator.jpeg" property="og:image" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="435" />
        <meta property="og:image:width" content="354" />
        <!--  FACEBOOK CONFIGURATION ENDS  -->
        <!-- TWITTER CARD CONFIGURATION STARTS  -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
        <meta name="twitter:title" content="Poisson distribution Calculator | Handy Online Calculator Tool"/>
        <meta name="twitter:description" content="Poisson distribution Calculator computes the poisson distribution of numbers and generates the exact answer quickly. Use this calculator to find the poisson distribution easily."/>
        <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Statistics/Poisson-Distribution-Calculator.jpeg"/>
        <meta property="twitter:image:height" content="435"/>
        <meta property="twitter:image:width" content="354"/>
        <!-- TWITTER CARD CONFIGURATION ENDS  -->
        <!--  LINKEDIN CONFIGURATION STARTS-->
        <meta property='og:title' content="Poisson distribution Calculator | Handy Online Calculator Tool"/>
        <meta property='og:image' content="https://onlinecalculator.guru/static/images/Statistics/Poisson-Distribution-Calculator.jpeg"/>
        <meta property='og:description' content="Poisson distribution Calculator computes the poisson distribution of numbers and generates the exact answer quickly. Use this calculator to find the poisson distribution easily."/>
        <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
        <!-- end of linkedin CONFIGURATIONS ENDS -->
    <!-- OPEN GRAPH CONFIGURATION ENDS -->
    <!-- FAQ SCHEMA STARTS -->
    <script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1.
        How do you calculate poisson distribution on a calculator?
        ","acceptedAnswer": {"@type": "Answer","text":" You have to provide the input number x  and λ in the specified box and press on the calculate button to find the poisson distribution of the given values in the output box in no time."}	}, {"@type": "Question","name":"2.
        What is Poisson distribution?
        ","acceptedAnswer": {"@type": "Answer","text":" The Poisson distribution is a probability distribution (such as, for instance, the binomial distribution). It describes the probability of a certain number of events occurring during some time period. For the most part, you may use past data to determine this probability and learn about the frequency of events."}	}, {"@type": "Question","name":"3.
        Poisson distribution formula!
        ","acceptedAnswer": {"@type": "Answer","text":" P(X = x) = e^(-λ)*λ^x / x!"}		}]}</script>
    
    
    <link rel="stylesheet" href="https://onlinecalculator.guru/static/style2.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/4083775673.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169198200-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169198200-4');
</script>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/4083775673.js"></script>

<script data-ad-client="ca-pub-4620359738364721" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-sm">
        <a class="navbar-brand" href="https://onlinecalculator.guru/">OnlineCalculator.Guru</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/math-calculator/">Math</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/physics-calculator/">Physics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/chemistry-calculator/">Chemistry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/conversions-calculator/">Conversions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://onlinecalculator.guru/statistics-calculator/">Statistics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://onlinecalculator.guru/algebra-calculator/">Algebra</a>
              </li>
          </ul>
        </div>
      </nav>
  <div class="scrollmenu fixed-bottom text-center">
    <a title="Median Calculator" href="/statistics/median-calculator/">Median Calculator</a>
<a title="Mean Calculator" href="/statistics/mean-calculator/">Mean Calculator</a>
<a title="Mode Calculator" href="/statistics/mode-calculator/">Mode Calculator</a>
<a title="First Quartile Calculator" href="/statistics/first-quartile-calculator/">First Quartile Calculator</a>
<a title="Relative Standard Deviation Calculator" href="/statistics/relative-standard-deviation-calculator/">Relative Standard Deviation Calculator</a>
<a title="Anova Calculator" href="/statistics/anova-calculator/">Anova Calculator</a>
<a title="Covariance Calculator" href="/statistics/covariance-calculator/">Covariance Calculator</a>
<a title="Poisson distribution Calculator" href="/statistics/poisson-distribution-calculator/">Poisson distribution Calculator</a>
<a title="Average Calculator" href="/statistics/average-calculator/">Average Calculator</a>
<a title="Descriptive Statistics Calculator" href="/statistics/descriptive-statistics-calculator/">Descriptive Statistics Calculator</a>
  </div>
    
    <div class="container">
        <div class="card c1">
            <div class="card-header">
                <h1 class="h1">Poisson Distribution Calculator</h1>
            </div>
            <div class="card-body">
                
                <p>Free and handy Poisson Distribution Calculator is online tool that solves the Poisson Distribution of a given number in fraction of seconds and displays the exact output along with the step by step solution guide. You have to enter the input number of Occurances and rate of successes in the below box & press on the calculate button.</p>
                <div class="box" id="gamma_function">
                    <div style="text-align: center;"><h5><strong>Poisson Distribution Calculator</strong></h5></div>
                    <form action="{% url 'calculate' %}" method="POST" id='my_form'>{% csrf_token %}
                      
                      <div class="input-group mb-3">
                        
                      
                        <div>
                          <strong><center>P(X=x) = e<sup>-λ</sup> *λ<sup>x</sup>/x!</center></strong>
                      </div>
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Number of Occurances(x)</span>
                        </div>
                      
                        <input style="margin-top: 5px;" id="x" name="x" value="{{x}}" required="" oninput="validateNumber(this);" class="form-control" type="text" required width="48"  >
                      
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Rate of Successes(λ)</span>
                        </div>
                      
                        <input style="margin-top: 5px;" id="lambda1" value="{{lambda1}}" oninput="validateNumber(this);" name="lambda1" required="" class="form-control" type="text" required width="48"  >
                      
                      </div>
                      <center>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;	<input class="btn btn-secondary btn-mr-3" type="button" onclick="myFunction()" value="Clear"></td>
                        <td></td>	
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><button type="submit" class="btn btn-primary mb-2"  >Calculate</button>  </td>
                      </center>
                      {% if lambda1 %}
                      <div id="answer1">
                    
                        <hr>
                        <p><strong>Probability values</strong></p>
                        <div style="text-align: center;">
                        
                        <div><strong>Probability:</strong>{{ probability }}</div>
                        <div><strong>Cumulative Probability P(X< x):</strong>{{ CP_LX }}</div>
                        <p><strong>Cumulative ProbabilityP(X<=x):</strong>{{ CP_LEX }}</p>
                        <p><strong>Cumulative ProbabilityP(X> x):</strong>{{ CP_GX }}</p>
                        <p><strong>Cumulative ProbabilityP(X>=x):</strong>{{ CP_GEX }}</p>
                        
                      
                        </div>
                        <hr>
                    
                  </div>
                  {% endif %}
                  <script>
                      function myFunction() {
                        document.getElementById("lambda1").value="";
                        document.getElementById("x").value="";
                        $("#answer1").html("");
                      }
                      </script>
                      <script>
                        var validNumber = new RegExp(/^\d*\.?-?\d*$/);
                        var fist_input = document.getElementById("inlineFormInputGroup").value;
                        function validateNumber(elem) {
                        console.log(elem)
                          if (validNumber.test(elem.value)) {
                            fist_input = elem.value;
                          } else {
                            elem.value = fist_input;
                          }
                        }
                    </script>
                      
                      
                  </form>   
                   
                </div>
                  
                      
                  
                <p><strong>Poisson distribution Calculator: </strong>Solve the Poisson distribution of a number in no time using our free calculator tool. Moreover, you will learn more about what is Poisson distribution and simple steps to find the Poisson distribution of a number manually from this page. We are also giving the solved examples of Poisson distribution for the better understanding of students in the below sections.</p>
            </div>
        </div>
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">How to Find Poisson distribution of a Number?</h2>
        </div>
	    <div class="card-body">
            <p>The Poisson distribution is a probability distribution (such as, for instance, the binomial distribution). It describes the probability of a certain number of events occurring during some time period.</p>
            <ul>
            <li>For example, suppose we know that the typical number of tornadoes a specific region experiences over ten years is 5.</li>
            <li>In that case, we can calculate the probability of no tornadoes troubling this area during the next ten year period.</li>
            <li>We can also find the probability of any other number of tornadoes appearing there during the next ten years.</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
        <h3 class="h3">Poisson distribution Definition</h3>
        </div>
        <div class="card-body">
    <p>Poisson distribution is similar to the factorial function. We will represent poisson distribution as the symbol "Γ". Poisson distribution is able to handle both complex numbers and factorial values. It is used in different areas like complex analysis, statistics, calculus, etc.</p>
         
    
    <p><strong>Example</strong></p>
            <p><strong>Number of buses arriving at a bus stop per hour;</strong></p>
            <p><strong>Number of blurred photos in a sample of 1,000 pictures taken with a camera;</strong></p>
            <p>To calculate any of the values specified above, you need to know the average number of events - for instance, the average number of buses at a bus stop during a one hour period. This value is called the "rate of success" and denoted with the symbol λ.</p>
            <p>     To find the probability of a certain number of occurrences (for instance, of x = 5), you have to use the following formula:</p>
            <p>    P(X=x) = e<sup>-λ</sup> *λ<sup>x</sup>/x!</p>
            <p>    Remember that both λ and x must be non-negative integers (0, 1, 2, ...) to fulfill the Poisson distribution definition and return meaningful probability estimates.</p>
            <p>Students of any mathematical knowledge can learn the concepts and solve the problems easily by taking the help of our free calculator tools at <a href="https://onlinecalculator.guru/">Onlinecalculator.guru</a> as all of them give accurate and straightforward description.</p>
            <img src="/static/images/Statistics/Poisson-Distribution-Calculator.jpeg" alt='Poisson distribution Calculator'>
        </div>
    </div>
    <div class="card">
  	    <div class="card-header">
      	<h3 class="h3">FAQs on Poisson distribution Calculator</h3>
  	    </div>
  	    <div class="card-body">
      	<!-- Question & Answer Starts --->
        <p class="question"><strong>1.What is the Poisson distribution?</strong></p>
     	<p class="answer">The Poisson distribution is a probability distribution (such as, for instance, the binomial distribution). It describes the probability of a certain number of events occurring during some time period. For the most part, you may use past data to determine this probability and learn about the frequency of events.</p>
         <hr>
        <p class="question"><strong>2. How to use the Poisson calculator?</strong></p>
     	<p class="answer">Decide on the number of occurrences. Let's say you want to find the probability of exactly three buses arriving during an hour.
        Determine the rate of success - the average number of events.<p> Let's say that the average number of buses per hour is 5.
        Input the values of λ and x into the equation above. P(X=3) = e<sup>-5</sup> *5<sup>3</sup>/3!</p><p>
        Calculate the probability manually or using the Poisson distribution calculator. In this case, P(X = 3) = 0.14, or fourteen percent (14%).</p>
        </p><hr>
     	<p class="question"><strong>3. Explanation for an example of Poisson distribution?</strong></p>
     	<p class="answer">If probability P(X = 3) corresponds to the precisely 3 buses per hour, then:
        </p>
         <p>     P(X < 3): the probability that there will be fewer than three buses per hour (so none at all, one or two).</p>
         <p>     P(X ≤ 3): the probability that there will be at most three buses per hour (none, one, two, or three).</p>
         <p>     P(X > 3): the probability that there will be more than three buses arriving per hour (so four, five... up to infinity).</p>
         <p>     P(X ≥ 3): the probability that there will be at least three buses arriving per hour (so three, four, five... up to infinity).</p><hr>  

        <p class="question"><strong>4. Formula for Poisson Distribution.</strong></p>
        <p class="answer">The Poisson distribution is a probability distribution (such as, for instance, the binomial distribution). It describes the probability of a certain number of events occurring during some time period. For the most part, you may use past data to determine this probability and learn about the frequency of events. </p>
            <p>      P(X=x) = e<sup>-λ</sup> *λ<sup>x</sup> /x!
        
    	</div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('ddd').click();
          });
    </script>

    <footer class="footer font-small sticky-bottom">
      <div class="container pb-5 pt-2" style="background-color: #009FE8;">
      <div class="row">
        <div class="col-md-4">
          <h4 class=" text-left">Favorite Calculators</h4>
          <ul class="footer-list" >
            <li class="footer-list text-left"><a href="https://physicscalc.com/" title="Physics Calculator">Physics Calculator</a></li>
            <li class="footer-list text-left"><a href="https://onlinecalculator.guru/math-calculator/" title="Math Calculator">Maths Calculator</a></li>
            <li class="footer-list text-left"><a href="" title="HCFLCM Calculator">HCFLCM Calculator</a></li>
            <li class="footer-list text-left"><a href="https://onlinecalculator.guru/" title="Chemistry Calculator">Chemistry Calculator</a></li>
            <li class="footer-list text-left"><a href="https://multiplyfractions.com/" title="Fraction Calculator">Fraction Calculator</a></li>
            <li class="footer-list text-left"><a href="https://factorpolynomials.com/" title="Polynomial Calculator">Polynomial Calculator</a></li>
            <li class="footer-list text-left"><a href="https://lcmgcf.com/" title="LCMGCF Calculator">LCMGCF Calculator</a></li>
            <li class="footer-list text-left"><a href="https://percentagecalculator.guru/" title="Percentage Calculator">Percentage Calculator</a></li>
            <li class="footer-list text-left"><a href="https://areavolumecalculator.com/" title="Area and Volume Calculator">Area and Volume Calculator</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class=" text-left">Most Popular</h4>
          <ul class="footer-list">
            <li class="footer-list text-left"><a href="https://onlinecalculator.guru/math/age-calculator/" title="Age Calculator">Age Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/math/diamond-problem-solver/" title="Diamond Problem Solver">Diamond Problem Solver</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/numbers/even-or-odd-calculator/" title="Odd or Even Calculator">Odd or Even Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/numbers/divisibility-calculator/" title="Divisibility Calculator">Divisibility Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/calculus/limit-calculator/" title="Limit Calculator">Limit Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/calculus/implicit-differentiation-calculator/" title="Implicit Differentiation Calculator">Implicit Differentiation Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/fractions/reducing-fraction-calculator/" title="Reducing Fractions Calculator">Reducing Fractions Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/fractions/solve-for-x-fraction-calculator/" title="Solve for X Fraction Calculator">Solve for X Fraction Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/functions/domain-and-range-calculator/" title="Domain and Range Calculator">Domain and Range Calculator</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/physics/velocity-calculator-v-u-at/" title="Velocity Calculator v = u + at">Velocity Calculator v = u + at</a></li>
<li class="footer-list text-left"><a href="https://onlinecalculator.guru/weight/" title="Weight Conversions">Weight Conversions</a></li>
          </ul>
        </div>
     <div class="col-md-4">
       <h4 class="text-left">Company</h4>
       <ul class="footer-list">
         <li class="footer-list text-left"><a href="/about-us/">About us</a></li>
         <li class="footer-list text-left"><a href="/contact-us/">Contact us</a></li>
         <li class="footer-list text-left"><a href="/privacy-policy/">Privacy policy</a></li>
         <li class="footer-list text-left"><a href="/disclaimer/">Disclaimer</a></li>
       </ul>
       <h4 class=" text-left">Follow Us</h4>
       <div class="social-links">
         <li class="footer-list text-left">
          <a class="pr-2" href="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/"><i class="fab fa-facebook-f"></i></a>
          <a class="pr-2" href="https://twitter.com/onlinecalculat"><i class="fab fa-twitter"></i></a>
          <a class="pr-2" href="https://www.youtube.com/channel/UCFkMv7w89Dqc0XukZUcWsFA/"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/in/onlinecalculator/"><i class="fab fa-linkedin-in"></i></a></li>
       </div>
     </div>
      </div>
    </div>
    </footer>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
