{%extends 'base/statistics_base3.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Poker Probability Calculator</title>
<meta name="description"
    content="Poker Probability Calculator" />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta property="og:description" content="Theoretical Yeild Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Theoretical Yeild Calculator | Free Calculator to find Theoretical Yeild" />
<meta name="twitter:description"
    content="Magnetic force between wires Calculator makes it easy for you to find magnetic force between wires." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Theoretical Yeild Calculatorr | Theoretical Yeild" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Magnetic force between wires Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{%block content%}


<style>
  input {
      text-align: right;
  }
</style>

{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
  document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('ddd').click();
  });
</script>

    <div class="container" style="height: auto !important;">
      <div class="card c1">
          <div class="card-header">
              <h1 class="h1">Poker Probability Calculator</h1>
          </div>
          <div class="card-body">
              <ul class="messages">
                  {% for message in messages %}
                  <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                      style="color:red">{{ message }}</p>
                  {% endfor %}
              </ul>
  
              <form action="" method="POST" action="" >
                  {% csrf_token %}
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><strong>Type of Poker Hands</strong></div>
                    </div>
                    <select name="type" id="inlineFormInputGroup"  class="form-control" 
                         autofocus=""  value="{{ type }}">
                        
                        {% if type == "5-Hand" %}
                        <option value="5-Hand" selected="selected">5-Hand</option>
                        {% else %}
                        <option value="5-Hand"> 5-Hand</option>
                        {% endif %}
                        {% if type == "7-Hand" %}
                        <option value="7-Hand" selected="selected"> 7-Hand  </option>
                        {% else %}
                        <option value="7-Hand"> 7-Hand</option>
                        {% endif %}
                    </select>
                </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Type of Hand</strong></div>
                        </div>
                        <select name="betting" id="inlineFormInputGroup"  class="form-control" 
                             autofocus=""  value="{{ betting }}">
                            
                            {% if betting == "royal_flush" %}
                            <option value="royal_flush" selected="selected"> royal_flush  </option>
                            {% else %}
                            <option value="royal_flush"> royal_flush</option>
                            {% endif %}
                            {% if betting == "straight_flush" %}
                            <option value="straight_flush" selected="selected"> straight_flush  </option>
                            {% else %}
                            <option value="straight_flush"> straight_flush</option>
                            {% endif %}
           
                            {% if betting == "four_of_a_kind" %}
                            <option value="four_of_a_kind" selected="selected"> four_of_a_kind  </option>
                            {% else %}
                            <option value="four_of_a_kind"> four_of_a_kind</option>
                            {% endif %}
                            
                            {% if betting == "full_house" %}
                            <option value="full_house" selected="selected"> full_house  </option>
                            {% else %}
                            <option value="full_house"> full_house</option>
                            {% endif %}

                            
                            
                            {% if betting == "flush" %}
                            <option value="flush" selected="selected"> flush  </option>
                            {% else %}
                            <option value="flush"> flush</option>
                            {% endif %}
                            
                            {% if betting == "straight" %}
                            <option value="straight" selected="selected"> straight  </option>
                            {% else %}
                            <option value="straight"> straight</option>
                            {% endif %}

                            {% if betting == "three_of_a_kind" %}
                            <option value="three_of_a_kind" selected="selected"> three_of_a_kind  </option>
                            {% else %}
                            <option value="three_of_a_kind"> three_of_a_kind</option>
                            {% endif %}

                            {% if betting == "two_pair" %}
                            <option value="two_pair" selected="selected"> two_pair  </option>
                            {% else %}
                            <option value="two_pair"> two_pair</option>
                            {% endif %}

                            {% if betting == "one_pair" %}
                            <option value="one_pair" selected="selected"> one_pair  </option>
                            {% else %}
                            <option value="one_pair"> one_pair</option>
                            {% endif %}

                            {% if betting == "no_pair" %}
                            <option value="no_pair" selected="selected"> no_pair  </option>
                            {% else %}
                            <option value="no_pair"> no_pair</option>
                            {% endif %}


                        </select>
                    </div>
                  

                  

                <div class="center col mt-2">
                  <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                      <button type="button" onclick="myFunction()" style="margin-top:5px;"
                          class="btn btn-danger">Reset</button>
                  </center>
                </div>
              
              </form>   
          </div>
        </div>

<div id="clear" >
    {% if id == 1 %}
    <div class="card" id="Roulette-calculator">
        <div class="card-header">
            <h2 class="h2">Result Poker Probability </h2>
        </div>
        {% if errors %}

        <div class="card-body">
            {% for error in errors %}
            <h4>{{ error }}</h4>
             {% endfor %}
            
        </div>

        

        {% else %}
        <div class="card-body">

            <p>The frequency of {{ type }} poker for type {{ betting }} is {{ frequency }}. </p>
            <p>The probability of {{ type }} poker for type {{ betting }} is {{ probability }}. </p>
            <p>The odds_against of {{ type }} poker for type {{ betting }} is {{ odds_against }}. </p>

            
            

            
            <p> </p>
        </div>
        {% endif %}
       
    </div>
        
    {% endif %}
</div>
</div>
<script>
  {% comment %} document.getElementsByName("data1")[0].value = "1 1 1 1 1";
  document.getElementsByName("data2")[0].value = "0.2 0.2 0.2 0.2 0.2"; {% endcomment %}

  
  {% if id == 1 %}
   
  var scrollDiv = document.getElementById("clear").offsetTop;
  window.scrollTo({ top: scrollDiv, behavior: 'smooth'});
  
  {%endif%} 
  
      
  
  
      var validNumber = new RegExp(/^\d*\.?-?\d*$/);
      var fist_input = document.getElementById("inlineFormInputGroup").value;
      function validateNumber(elem) {
          console.log(elem)
          if (validNumber.test(elem.value)) {
              fist_input = elem.value;
          } else {
              elem.value = fist_input;
          }
      }
  </script>
  
  <script>
      function myFunction() {
  
          document.getElementsByName("type")[0].value = "";
          document.getElementsByName("betting")[0].value = "";
          
          
          document.getElementById("clear").innerHTML = "";
  
  
          
  
  
  
      }
  </script>
  <br>


{% endblock %}