{%extends 'base/statistics_base2.html'%}
{%load static%}
  {%block meta%}
    <!-- HTML Defaults Broweser -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Stylesheet and Jquery, Google APIS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Online Calculator Guru Site Fevicon -->
    <link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png" type="icon">
    <!-- Online Calculator Guru Project Style Sheet -->
    {%block css%}
    <link rel="stylesheet" href="/static/style.css">
    {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Meta Title, Description and Canonical URL Starts --->
    <title>List of Basic Statistics Formulas | Mean, Median, Mode, Range Formulas</title>
    <meta name="description" content="Check the list of statistics formulas here & do your calculations easier & faster. Also, find an elementary statistics formula cheat sheet pdf "/>
    <link rel="canonical" href="{{request.build_absolute_uri}}">
    <!-- Meta Title, Description and Canonical URL ENDS --->
 
    <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
	<!--  FACEBOOK CONFIGURATION STARTS  -->
        <meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
        <meta property="og:title" content="List of Basic Statistics Formulas | Mean, Median, Mode, Range Formulas"/>
        <meta property="og:description" content="Check the list of statistics formulas here & do your calculations easier & faster. Also, find an elementary statistics formula cheat sheet pdf "/>
        <meta content="" property="og:site_name" />
        <meta  content="https://onlinecalculator.guru/static/images/Statistics/Statistics-Formulas.jpeg" property="og:image" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:height" content="435" />
        <meta property="og:image:width" content="354" />
        <!--  FACEBOOK CONFIGURATION ENDS  -->
        <!-- TWITTER CARD CONFIGURATION STARTS  -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
        <meta name="twitter:title" content="List of Basic Statistics Formulas | Mean, Median, Mode, Range Formulas"/>
        <meta name="twitter:description" content="Check the list of statistics formulas here & do your calculations easier & faster. Also, find an elementary statistics formula cheat sheet pdf "/>
        <meta name="twitter:image:src" content="https://onlinecalculator.guru/static/images/Statistics/Statistics-Formulas.jpeg"/>
        <meta property="twitter:image:height" content="435"/>
        <meta property="twitter:image:width" content="354"/>
        <!-- TWITTER CARD CONFIGURATION ENDS  -->
        <!--  LINKEDIN CONFIGURATION STARTS-->
        <meta property='og:title' content="List of Basic Statistics Formulas | Mean, Median, Mode, Range Formulas"/>
        <meta property='og:image' content="https://onlinecalculator.guru/static/images/Statistics/Statistics-Formulas.jpeg"/>
        <meta property='og:description' content="Check the list of statistics formulas here & do your calculations easier & faster. Also, find an elementary statistics formula cheat sheet pdf "/>
        <meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
        <!-- end of linkedin CONFIGURATIONS ENDS -->
    <!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
<script type="application/ld+json">{"@context": "https://schema.org","@type": "FAQPage","mainEntity": [{"@type": "Question","name":"1.
    What are some common formulas?
    ","acceptedAnswer": {"@type": "Answer","text":"Some common formulas in statistics are Arithmetic mean, median, mode, variance, standard deviation, etc."}	}, {"@type": "Question","name":"2.
    How do you solve statistics?
    ","acceptedAnswer": {"@type": "Answer","text":"Statistics problems can be solved very easily by using the basic to advance statistics formulas or else visit statisticscalculators.net and make use of all statistics concepts online calculators to avail the results in seconds."}	}, {"@type": "Question","name":"3.
    What are the basics of statistics?
    ","acceptedAnswer": {"@type": "Answer","text":"Measures of central tendency and measures of dispersion are the basics of statistics such as arithmetic mean, median, mode, range, Mean deviation, Variance, Standard deviation, etc."}	}, {"@type": "Question","name":"4.
    What are the types of statistics?
    ","acceptedAnswer": {"@type": "Answer","text":"In statistics, you will see two types of statistical methods which are utilized in analyzing data. They are descriptive statistics and inferential statistics."}	}]}</script>
    {%endblock%}
    {%block content%}
    <div class="container">
        <div class="card c1">
            <div class="card-header">
                <h1 class="h1">Statistics Formulas</h1>
            </div>
            <div class="card-body">
<p>One of the important concepts in mathematics is statistics and it deals completely with the collection, organization, presentation, analysis, and interpretation of data. The statistics formula speaks about the collection of measures of dispersion or central tendency that aids in awareness and interpreting a certain set of data. Wondering how to memorize basic statistics formulas easily and solve the statistics problem with ease. Then, refer to this page and collect each and every concept of statistics formulas.</p>            </div>
        </div>
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">List of Elementary Statistics Formulas</h2>
        </div>
	    <div class="card-body">
            <p>Calculating different types of problems of statistics can be quite easy and simple now with the help of basic &amp; elementary statistics formulas. So, we have listed out all statistics math formulas here to improve your problem-solving skills and make your calculations easier and faster. Check out the statistics formulae list below &amp; start practicing the problems without any delay: </p>
            <ul>
            <li><strong>Mean</strong> x̄ = &Sigma;xi / N<br />
            <ul>
            <li><strong>1. Arithmetic Mean For Sample Data Set:</strong> <br />Xmean = (&sum;i = 1nxi) / n = [x1 + x2 + x3 + . . . + xn] / n<br /><strong>AM For Population Data Set:</strong><br />&mu; = (&sum;i = 1nxi) / n = Sum / size = [x1 + x2 + x3 + . . . + xn] / n</li>
            <li><strong>2. Geometric Mean:</strong> It is defined as the product of all data values raised to the power of the reciprocal of the count of data values. Just, the nth root of the product of data values is the geometric mean.<br />GM = (&Pi;i = 1n)^1/n = (n)&radic;(x1.x2.x3. . . . xn)</li>
            <li><strong>3. Harmonic Mean:</strong> Harmonic mean is n times the reciprocal of the sum of the reciprocals of the data values. Or, Divide n by the sum of reciprocals of all data values.<br />HM = (n) / [&sum;i = 1n(1/xi)] = (n) / [1/x1 + 1/x2 + 1/x3 + . . . + 1/xn</li>
            </ul>
            </li>
            <li><strong>Median</strong> = (N+1)th / 2 term; when N is odd<br />[ Nth / 2 term + ( N / 2 + 1)th term ] / 2 ; when N is even</li>
            <li><strong>Mode</strong> = The value in the data set that occurs most frequently</li>
            <li><strong>Variance</strong> = &Sigma;(xi &ndash; x̄)^2 / N</li>
            <li><strong>Standard Deviation</strong> = &radic;Variance</li>
            <li><strong>Relative Standard Deviation for Population Data (RSD)</strong> = [(100 * &sigma;) / &mu;]%</li>
            <li><strong>Relative Standard Deviation for Sample Data (RSD)</strong> = [(100 * s) / &mu;]%</li>
            <li><strong>Z-score</strong> = (x - &mu;) / &sigma; or z = (x mean - &mu;) / &sigma;/&radic;n</li>
            <li><strong>Mean Deviation</strong> (Mean Absolute Deviation MAD) = (&sum;i = 1n |xi - &mu;|) / n</li>
            <li><strong>Root Mean Square (RMS)</strong> = &radic;[(&sum;i = 1n (xi)&sup2;) / n ]</li>
            <li><strong>Standard Error of the Mean</strong> = SE&mu; = (&sigma; / (&radic;n))</li>
            <li><strong>Sum of Squares</strong> (SS) = &sum;i = 1n (xi - &mu;)&sup2;</li>
            <li><strong>Skewness</strong> &gamma;1 = (&sum;i = 1n (xi - &mu;)3) / (n * &sigma;3)</li>
            <li><strong>Kurtosis</strong> = &beta;2 = (&sum;i = 1n (xi - &mu;)4) / (n * &sigma;4)</li>
            <li><strong>Coefficient of Variation</strong> ( CV ) = &sigma; / &mu;</li>
            <li><strong>Kurtosis Excess</strong> = &alpha;4 = [((&sum;i = 1n (xi - &mu;)4) / (n * &sigma;4)) - 3]</li>
            <li><strong>Outliers</strong> formulas are Upper Fence = Q3 + 1.5 x IQR and Lower Fence = Q1 - 1.5 x IQR</li>
            <li><strong>Interquartile Range</strong> IQR = Q3 - Q1</li>
            <li><strong>Weighted Mean | Weighted Average:</strong> Xweighted_mean = &sum;i = 1n(wi * Xmean) / &sum;i = 1nwi</li>
            <li><strong>Maximum</strong> = xn = max(xi)i=1n</li>
            <li><strong>Minimum</strong> = x1 = min(xi)i=1n</li>
            <li><strong>Range:</strong>&nbsp;R = Maximum - Minimum = xn - x1</li>
            <li><strong>Midrange:</strong> MR = (Minimum + Maximum) / 2 = (x1 + xn) / 2</li>
            <li><strong>Frequency:</strong> The number of occurrences for each data value in the data set is called frequency.</li>
            <li><strong>Count:</strong> It is the total number of values in the data set. This is also known as the size of the data set. Count = n = count(xi)i = 1n</li>
            <li><strong>Sum:</strong> The total of all data values in the data set is sum. Hence, sum = x1 + x2 + x3 + . . . + xn = &sum;i = 1nxi</li>
            <li><strong>Percentile:</strong> Arrange all data values in ascending order i.e x1 &le; x2 &le; x3 &le; . . . &le; xn<br />
            <ul>
            <li>Find the rank for the percentile p using r = (p/100) * (n - 1) + 1<br />If r is an integer then, data value at the r location is percentile p<br />p = xr</li>
            <li>If r is not an integer, p is interpolated using ri, the integer part of r and rf, the fractional part of r<br />p = xri + rf * (xri+1 - xri)</li>
            </ul>
            </li>
            </ul>
            <p>Take a look at the other statistics concepts online caluclators from our website <a href="https://statisticscalculators.net/">StatisticsCalculators.net</a> and memorize all statistics formulas easily and enhance your subject knowledge skills.</p>
            <img src="{% static 'images/Statistics/statitics-formulas.jpeg' %}" alt='Statistics Formulas'>
</div>
</div>
    <div class="card">
	    <div class="card-header">
            <h2 class="h2">Statistics Formulas Cheat Sheet & Table</h2>
        </div>
	    <div class="card-body">
            <table border="1">
                <tbody>
                <tr>
                <td>
                <ul>
                <li>Sample mean = x = ( &Sigma; x<sub>i</sub>) / n</li>
                <li>Sample standard deviation = s = sqrt [ &Sigma; ( x<sub>i</sub> -x)<sup>2</sup>/ ( n - 1 ) ]</li>
                <li>Sample variance = s<sup>2</sup>= &Sigma; ( x<sub>i</sub>-x)<sup>2</sup>/ ( n - 1 )</li>
                <li>Variance of sample proportion = s<sub>p</sub><sup>2</sup>= pq / (n - 1)</li>
                <li>Pooled sample proportion = p = (p<sub>1</sub>* n<sub>1</sub>+ p<sub>2</sub>* n<sub>2</sub>) / (n<sub>1</sub>+ n<sub>2</sub>)</li>
                <li>Pooled sample standard deviation = s<sub>p</sub>= sqrt [ (n<sub>1</sub>- 1) * s<sub>1</sub><sup>2</sup>+ (n<sub>2</sub>- 1) * s<sub>2</sub><sup>2</sup>&nbsp;] / (n<sub>1</sub>+ n<sub>2</sub>- 2) ]</li>
                <li>Sample correlation coefficient = r = [ 1 / (n - 1) ] * &Sigma; { [ (x<sub>i</sub>-x) / s<sub>x</sub>] * [ (y<sub>i</sub>-y) / s<sub>y</sub>] }</li>
                </ul>
                </td>
                </tr>
                </tbody>
                </table>
            <img src="{% static 'images/Statistics/Descriptive-Statistics-Formula-Sheet.jpeg' %}" alt='Descriptive Statistics Formula Sheet'>
            <img src="{% static 'images/Statistics/Probability-and-Distributions-Formulas-Cheat-Sheet.jpeg' %}" alt='Probability and Distributions Formulas Cheat Sheet'>
            <img src="{% static 'images/Statistics/Sampling-Distributions-and-Inferential-Statistics-Formulas-Table.jpeg' %}" alt='Sampling Distributions and Inferential Statistics Formulas Table'>
        </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="h2">Basic Statistics Formulas With Examples Pdf</h2>
      </div>
      <div class="card-body">
        <p><strong>Example 1:</strong></p>
        <p>In a kitchen, there are 30 participants. 4 were picked randomly and their total scores in the cooking are recorded as 34, 56, 64, 76. Find the standard deviation of their scores.</p>
        <p><strong>Solution:</strong></p>
        <p>Given N=4</p>
        <p>Sample mean = 34+56+64+76 / 4 = 230/4 = 57.5</p>
        <p>Variance = &sum;(x&minus;&mu;)^2/n</p>
        <p>= (34-57.5)^2 + (56-57.5)^2 + (64-57.5)^2 + (76-57.5)^2 / 4</p>
        <p>= 939/4</p>
        <p>= 234.75</p>
        <p>Standard deviation = &radic;234.75 = 15.321</p>
        <p><strong>Example 2:</strong></p>
        <p>Find the mode of the set S = 1,2,3,2,3,2,3,4,2,4,5,2,6,7.</p>
        <p><strong>Solution:</strong></p>
        <p>Given S = 1,2,3,2,3,2,3,4,2,4,5,2,6,7</p>
        <p>Arrange the data in ascending order:</p>
        <p>1,2,2,2,2,2,3,3,3,4,4,5,6,7</p>
        <p>Here 2 occurs a maximum of 5 times, therefore 2 is the mode of the set.</p>
      </div>
    </div>
    <div class="card">
        <div class="card-header">
        <h3 class="h3">FAQs on Statistics Math Formulas</h3>
        </div>
        <div class="card-body">
        <!-- Question & Answer Starts --->
      <p class="question"><strong>1. What are some common formulas?</strong></p>
       <p class="answer">Some common formulas in statistics are Arithmetic mean, median, mode, variance, standard deviation, etc. </p><hr>
       <p class="question"><strong>2. How do you solve statistics?</strong></p>
       <p class="answer">Statistics problems can be solved very easily by using the basic to advance statistics formulas or else visit statisticscalculators.net and make use of all statistics concepts online calculators to avail the results in seconds. </p><hr>  
      <p class="question"><strong>3. What are the basics of statistics?</strong></p>
      <p class="answer">Measures of central tendency and measures of dispersion are the basics of statistics such as arithmetic mean, median, mode, range, Mean deviation, Variance, Standard deviation, etc.</p><hr>
      <p class="question"><strong>4. What are the types of statistics?</strong></p>
       <p class="answer">In statistics, you will see two types of statistical methods which are utilized in analyzing data. They are descriptive statistics and inferential statistics.</p><hr>
      </div>
  </div>
</div>
{%endblock%}